Repository Yuliya-Karuk/eCommerce-Application: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier:fix, npm run stylelint, npm run lint:fix

feat: add skeleton loader
  package-lock.json
  package.json
  src/components/MySkeleton/MySkeleton.module.scss
  src/components/MySkeleton/MySkeleton.tsx
  src/pages/catalog/catalog.tsx
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

fix: fic color in options
  src/components/AddressView/AddressView.module.scss
  src/components/AddressView/AddressView.tsx
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

refactor: refactor cart.tsx according comments
  src/pages/cart/cart.tsx
Due: npm run prettier:fix, npm run lint:fix

feat: configure skeleton
  src/components/MySkeleton/MySkeleton.tsx
  src/pages/catalog/catalog.module.scss
  src/pages/catalog/catalog.tsx
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

refactor: place products and skeletons in new component
  src/components/CatalogProducts/CatalogProducts.module.scss
  src/components/CatalogProducts/CatalogProducts.tsx
  src/components/MySkeleton/MySkeleton.module.scss
  src/components/Pagination/Pagination.module.scss
  src/components/Pagination/Pagination.tsx
  src/pages/catalog/catalog.module.scss
  src/pages/catalog/catalog.tsx
  src/utils/constants.ts
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

fix: Link to the School website
  src/components/AboutDescription/AboutDescription.tsx
Due: npm run prettier:fix, npm run lint:fix

feat: change Loader color
  src/components/Loader/Loader.tsx
Due: npm run prettier:fix, npm run lint:fix

feat: New hover-effect in UserMenu, link to Cart page
  src/components/Developer/Developer.tsx
  src/components/UserMenu/UserMenu.module.scss
  src/components/UserMenu/UserMenu.tsx
  src/pages/cart/cart.tsx
  src/router/router.tsx
  src/router/routes.ts
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

feat: Editing biographies and the hover-effect and focus-effect.
  src/components/UserMenu/UserMenu.module.scss
  src/pages/about/about.tsx
  src/styles/_mixins.scss
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

feat: Dynamic links in the navigation menu
  src/components/Navigation/Navigation.tsx
  src/hooks/useChangeMenuRoute.tsx
  src/utils/utils.ts
Due: npm run prettier:fix, npm run lint:fix

R072a52df93f43dd500404d0d9a271989c972674u "Remote from the components index.ts. Added alias of folders."
  src/components/Navigation/Navigation.tsx
  src/hooks/useChangeMenuRoute.tsx
  src/utils/utils.ts
Due: npm run prettier:fix, npm run lint:fix

fix: Dynamic navigation in a header
  src/assets/sprite.svg
  src/components/Header/Header.module.scss
  src/components/Logo/Logo.module.scss
  src/components/Logo/Logo.tsx
  src/components/Navigation/Navigation.module.scss
  src/components/Navigation/Navigation.tsx
  src/components/UserMenu/UserMenu.module.scss
  src/components/UserMenu/UserMenu.tsx
  src/hooks/useChangeRoute.tsx
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

feat: Modal for Promocode
  src/components/Modal/Modal.module.scss
  src/components/Modal/Modal.tsx
  src/components/UserMenu/UserMenu.tsx
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

fix: background mobile menu
  src/components/Navigation/Navigation.module.scss
Due: npm run prettier:fix, npm run stylelint

fix: fix test
  src/components/UserMenu/UserMenu.tsx
Due: npm run prettier:fix, npm run lint:fix

refactor: place Modal for Cart in separate component
  src/components/CartModal/CartModal.module.scss
  src/components/CartModal/CartModal.tsx
  src/pages/cart/cart.module.scss
  src/pages/cart/cart.tsx
  src/test/renderPages.test.tsx
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

fix: add update LS after removing cart
  src/pages/cart/cart.tsx
Due: npm run prettier:fix, npm run lint:fix

fix: replace throw new Error to errorNotify(err.message);
  src/components/ProductCard/ProductCard.tsx
  src/pages/login/login.tsx
  src/pages/registration/registration.tsx
Due: npm run prettier:fix, npm run lint:fix

fix: change size of skeletons
  src/components/CatalogProducts/CatalogProducts.module.scss
  src/components/CatalogProducts/CatalogProducts.tsx
  src/components/MySkeleton/MySkeleton.module.scss
  src/components/MySkeleton/MySkeleton.tsx
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

feature/RSS-ECOMM-29-New-Arrivals a0e979614fe41d4952b09789310ab13cd889d774 author Maxim Ravinskiy <itmaster@duck.com> 1716568799 +0300 committer Yuliya Karuk <karuk.yuliya@gmail.com> 1718568636 +0300
  public/images/Discover/discover-1.jpg
  public/images/Discover/discover-2.jpg
  public/images/Discover/discover-3.jpg
  src/assets/template.png
  src/components/Discover/Discover.module.scss
  src/components/Discover/Discover.tsx
  src/components/NewArrivalsCard/NewArrivalsCard.tsx
  src/pages/home/home.tsx
  src/styles/_constants.scss
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

Fix/minor style fix (#46)
  .stylelintrc.json
  .vscode/settings.json
  src/components/Account/Account.module.scss
  src/components/AuthFormHeader/AuthFormHeader.module.scss
  src/components/Banner/Banner.module.scss
  src/components/Breadcrumbs/Breadcrumbs.module.scss
  src/components/CategoryFilter/CategoryFilter.module.scss
  src/components/CheckboxFilter/CheckboxFilter.module.scss
  src/components/ColorFilter/ColorFilter.module.scss
  src/components/Filters/Filters.module.scss
  src/components/Footer/Footer.module.scss
  src/components/Gramm/Gramm.tsx
  src/components/Header/Header.module.scss
  src/components/Navigation/Navigation.module.scss
  src/components/Navigation/Navigation.tsx
  src/components/NewArrivalsCard/NewArrivalsCard.module.scss
  src/components/PriceFilter/PriceFilter.module.scss
  src/components/ProductCard/ProductCard.module.scss
  src/components/ProfileAddresses/ProfileAddresses.module.scss
  src/components/ProfilePassword/ProfilePassword.module.scss
  src/components/Search/Search.module.scss
  src/components/Slider/Slider.tsx
  src/components/UserMenu/UserMenu.module.scss
  src/components/UserMenu/UserMenu.tsx
  src/pages/catalog/catalog.module.scss
  src/pages/productItem/productItem.module.scss
  src/pages/profile/profile.module.scss
  src/router/router.tsx
  src/test/renderPages.test.tsx
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

Feature/rss ecomm 29 About implement about (#38)
  .stylelintrc.json
  src/assets/Gramm/Gramm-01.jpg
  src/assets/Gramm/Gramm-02.jpg
  src/assets/Gramm/Gramm-03.jpg
  src/assets/Gramm/Gramm-04.jpg
  src/assets/Gramm/Gramm-05.jpg
  src/assets/Gramm/Gramm-06.jpg
  src/assets/Gramm/Gramm-07.jpg
  src/assets/Gramm/Gramm-08.jpg
  src/assets/Gramm/Gramm-09.jpg
  src/assets/Gramm/Gramm-10.jpg
  src/assets/aboutbg.jpg
  src/assets/sprite.svg
  src/components/About/About.module.scss
  src/components/About/About.tsx
  src/components/Banner/Banner.module.scss
  src/components/Banner/Banner.tsx
  src/components/Footer/Footer.module.scss
  src/components/Footer/Footer.tsx
  src/components/Gramm/Gramm.module.scss
  src/components/Gramm/Gramm.tsx
  src/components/LinkButton/LinkButton.module.scss
  src/components/LinkButton/LinkButton.tsx
  src/components/Logo/Logo.module.scss
  src/components/Navigation/Navigation.tsx
  src/components/NewArrivals/NewArrivals.module.scss
  src/components/NewArrivalsCard/NewArrivalsCard.module.scss
  src/components/NewArrivalsCard/NewArrivalsCard.tsx
  src/components/UserMenu/UserMenu.module.scss
  src/components/UserMenu/UserMenu.tsx
  src/pages/about/about.tsx
  src/pages/home/home.module.scss
  src/pages/home/home.tsx
  src/pages/profile/profile.tsx
  src/router/router.tsx
  src/router/routes.ts
  src/styles/_constants.scss
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

Feature/rss ecomm 30 profile page (#40)
  src/assets/avatar.svg
  src/assets/delete.svg
  src/assets/edit.svg
  src/commercetool/sdk.service.ts
  src/components/Account/Account.module.scss
  src/components/Account/Account.tsx
  src/components/AddressView/AddressView.module.scss
  src/components/AddressView/AddressView.tsx
  src/components/Filters/Filters.module.scss
  src/components/Footer/Footer.module.scss
  src/components/Footer/Footer.tsx
  src/components/Input/Input.tsx
  src/components/NewArrivals/NewArrivals.module.scss
  src/components/NewArrivalsCard/NewArrivalsCard.module.scss
  src/components/ProductCard/ProductCard.module.scss
  src/components/ProfileAddresses/ProfileAddresses.module.scss
  src/components/ProfileAddresses/ProfileAddresses.tsx
  src/components/ProfilePassword/ProfilePassword.module.scss
  src/components/ProfilePassword/ProfilePassword.tsx
  src/components/UserMenu/UserMenu.tsx
  src/contexts/toastProvider.tsx
  src/models/index.ts
  src/pages/catalog/catalog.tsx
  src/pages/home/home.tsx
  src/pages/login/login.tsx
  src/pages/productItem/productItem.module.scss
  src/pages/profile/profile.module.scss
  src/pages/profile/profile.tsx
  src/pages/registration/registration.tsx
  src/router/router.tsx
  src/utils/constants.ts
  src/utils/utils.ts
  src/utils/validationConst.ts
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

refactor: Public image transfer to Assets (#35)
  src/assets/Discover/discover-1.jpg
  src/assets/Discover/discover-2.jpg
  src/assets/Discover/discover-3.jpg
  src/components/Discover/Discover.tsx
Due: npm run prettier:fix, npm run lint:fix

Feature/RSS-ECOMM-19 testing (#23)
  src/pages/login/login.tsx
  src/pages/registration/registration.tsx
  src/test/commonInputs.test.tsx
  src/test/login.test.tsx
  src/test/registration.test.tsx
  src/test/renderPages.test.tsx
  src/test/root.test.tsx
  src/utils/validationConst.ts
  vitest.config.ts
Due: npm run prettier:fix, npm run lint:fix

Feature/rss ecomm 27 product page (#36)
  .eslintrc.cjs
  .vscode/settings.json
  package-lock.json
  package.json
  src/assets/heart.svg
  src/commercetool/sdk.service.ts
  src/components/AddressForm/AddressForm.tsx
  src/components/AuthFormHeader/AuthFormHeader.module.scss
  src/components/Discover/Discover.module.scss
  src/components/Navigation/Navigation.module.scss
  src/components/NewArrivals/NewArrivals.module.scss
  src/components/NewArrivalsCard/NewArrivalsCard.module.scss
  src/components/ProductAttributes/ProductAttributesView.module.scss
  src/components/ProductAttributes/ProductAttributesView.tsx
  src/components/ProductInfoSection/ProductInfoSection.module.scss
  src/components/ProductInfoSection/ProductInfoSection.tsx
  src/components/QuantityInput/QuantityInput.module.scss
  src/components/QuantityInput/QuantityInput.tsx
  src/components/Slider/Slider.module.scss
  src/components/Slider/Slider.tsx
  src/pages/login/login.module.scss
  src/pages/productItem/productItem.module.scss
  src/pages/productItem/productItem.tsx
  src/pages/registration/registration.module.scss
  src/pages/registration/registration.tsx
  src/styles/_constants.scss
  src/styles/_mixins.scss
  src/utils/constants.ts
  src/utils/utils.ts
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

Feature/RSS-ECOMM-44&45 Cart Page and Detailed Product Page Enhancements (#49)
  src/components/AddressView/AddressView.module.scss
  src/components/AddressView/AddressView.tsx
  src/components/CartModal/CartModal.module.scss
  src/components/CartModal/CartModal.tsx
  src/components/Loader/Loader.tsx
  src/components/NewArrivalsCard/NewArrivalsCard.module.scss
  src/components/ProductCard/ProductCard.tsx
  src/components/UserMenu/UserMenu.tsx
  src/pages/cart/cart.module.scss
  src/pages/cart/cart.tsx
  src/pages/catalog/catalog.module.scss
  src/pages/login/login.tsx
  src/pages/registration/registration.tsx
  src/test/renderPages.test.tsx
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

fix: fix bug with removing cart
  src/pages/cart/cart.tsx
Due: npm run prettier:fix, npm run lint:fix

fix: fix header margin on Cart page
  src/pages/cart/cart.module.scss
Due: npm run prettier:fix, npm run stylelint

fix: toggle icons in ProductInfoSection component for expanded and collapsed states
  src/components/ProductInfoSection/ProductInfoSection.tsx
Due: npm run prettier:fix, npm run lint:fix

fix: fix bug with merging cart
  src/contexts/cartProvider.tsx
Due: npm run prettier:fix, npm run lint:fix

feat: add 2 tests for sdk
  src/test/sdkService.test.tsx
Due: npm run prettier:fix, npm run lint:fix

feat: add test for ProductPage
  src/test/ProductItem.test.tsx
Due: npm run prettier:fix, npm run lint:fix

fix: fix tests for sdk
  src/commercetool/sdk.service.ts
  src/test/sdkService.test.tsx
  src/test/sdkTests/getCategories.test.tsx
  src/test/sdkTests/getProductByKey.test.tsx
  src/test/sdkTests/getProductsTypes.test.tsx
Due: npm run prettier:fix, npm run lint:fix

feat: add ProductPages slider tests
  src/test/ProductItem.test.tsx
Due: npm run prettier:fix, npm run lint:fix

fix: add 2 tests for sdk
  src/commercetool/sdk.service.ts
  src/test/sdkTests/getCart.test.tsx
  src/test/sdkTests/getCustomerData.test.tsx
Due: npm run prettier:fix, npm run lint:fix

feat: add some utils tests
  src/test/utils.test.ts
Due: npm run prettier:fix, npm run lint:fix

Path conditions:
  npm run prettier:fix: any of: ./src/**/*
  npm run stylelint: any of: ./src/**/*.{css,scss}
  npm run lint:fix: any of: ./src/**/*.{tsx,jsx,ts}
