Repository Yuliya-Karuk/eCommerce-Application: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier, npm run stylelint, npm run lint

fix: fix eslint; add test for checking work of vitest
  .eslintrc.cjs
  .gitignore
  .lintstagedrc.json
  package-lock.json
  package.json
  src/App.tsx
  src/__test__/setup.ts
  src/main.tsx
  src/test/App.test.tsx
  tsconfig.json
  vite.config.ts
  vitest.config.ts
Due: npm run prettier, npm run lint

fix: fix vitest configuration
  package.json
  tsconfig.json
Due: none

fix: fix linter error; add config for vs code
  .editorconfig
  .eslintrc.cjs
  .gitignore
  .vscode/settings.json
  src/App.tsx
  src/main.tsx
Due: npm run prettier, npm run lint

RSS-ECOMM-1 (#6)
  .editorconfig
  .eslintignore
  .eslintrc.cjs
  .gitignore
  .husky/pre-commit
  .lintstagedrc.json
  .prettierignore
  .prettierrc.json
  .stylelintignore
  .stylelintrc.json
  .vscode/settings.json
  README.md
  index.html
  package-lock.json
  package.json
  public/vite.svg
  src/App.css
  src/App.tsx
  src/__test__/setup.ts
  src/assets/react.svg
  src/index.css
  src/main.tsx
  src/test/App.test.tsx
  src/vite-env.d.ts
  tsconfig.json
  tsconfig.node.json
  vite.config.ts
  vitest.config.ts
Due: npm run prettier, npm run stylelint, npm run lint

feat: install SDK; create BuildClient functionality
  .env
  package-lock.json
  package.json
  src/App.tsx
  src/commercetool/BuildClient.ts
  src/commercetool/Client.ts
  vite.config.ts
Due: npm run prettier, npm run lint

feat: add file and setting for css/scss modules
  src/declaration.d.ts
  vite.config.ts
Due: npm run prettier, npm run lint

refactor: simplify folder structure
  .eslintignore
  src/test/setup.ts
  vitest.config.ts
Due: npm run prettier, npm run lint

refactor: remove commented lines; change img path
  .env
  .env.example
  .gitignore
  src/App.tsx
  src/assets/vite.svg
  src/commercetool/BuildClient.ts
  src/commercetool/Client.ts
  vite.config.ts
  vitest.config.ts
Due: npm run prettier, npm run lint

refactor: replace test setup file
  src/jest/setup.ts
Due: npm run prettier, npm run lint

feature/RSS-ECOMM-7 (#10)
  .env.example
  .eslintignore
  .gitignore
  package-lock.json
  package.json
  src/App.tsx
  src/assets/vite.svg
  src/commercetool/BuildClient.ts
  src/commercetool/Client.ts
  src/declaration.d.ts
  src/jest/setup.ts
  vite.config.ts
  vitest.config.ts
Due: npm run prettier, npm run lint

feat: plugins and settings
  .eslintignore
  .eslintrc.cjs
  .gitignore
  .lintstagedrc.json
  .prettierrc.json
  .stylelintignore
  .stylelintrc.json
  config/settings/path.js
  config/tasks/dev.js
  config/tasks/prod.js
  package-lock.json
  package.json
  postcss.config.js
  src/App.css
  src/App.tsx
  src/favicon.svg
  src/index.css
  src/test/App.test.tsx
  tsconfig.eslint.json
  tsconfig.json
  tsconfig.node.json
  vite.config.js
  vitest.config.ts
Due: npm run prettier, npm run stylelint, npm run lint

feat: folder for styles
  src/App.tsx
  src/main.tsx
  src/styles/App.scss
  src/styles/index.scss
Due: npm run prettier, npm run stylelint, npm run lint

fix: settings
  .eslintignore
  .gitignore
  .lintstagedrc.json
  config/dev.js
  config/paths.js
  config/prod.js
  config/settings/path.js
  package.json
  vite.config.js
  vitest.config.ts
Due: none

fix: remove @types/node
  .stylelintrc.json
  package-lock.json
  package.json
  postcss.config.js
  tsconfig.node.json
Due: none

doc: env.example
  .env.example
Due: none

refactor: bracket spacing
  .prettierrc.json
  config/dev.js
  config/prod.js
  src/App.tsx
  src/commercetool/BuildClient.ts
  src/commercetool/Client.ts
  src/test/App.test.tsx
  vite.config.js
  vite.config.ts
  vitest.config.ts
Due: npm run prettier, npm run lint

Feature/rss ecomm 9 2 (#12)
  .eslintignore
  .eslintrc.cjs
  .lintstagedrc.json
  .prettierrc.json
  .stylelintignore
  .stylelintrc.json
  config/dev.js
  config/paths.js
  config/prod.js
  package-lock.json
  package.json
  postcss.config.js
  src/App.tsx
  src/favicon.svg
  src/main.tsx
  src/styles/App.scss
  src/styles/index.scss
  tsconfig.eslint.json
  tsconfig.json
  vite.config.js
  vite.config.ts
  vitest.config.ts
Due: npm run prettier, npm run stylelint, npm run lint

feat: create routing between home, login, registration, product pages
  package-lock.json
  package.json
  src/App.tsx
  src/main.tsx
  src/pages/login/login.tsx
  src/pages/productItem/productItem.tsx
  src/pages/registration/registration.tsx
  src/router/router.tsx
  src/router/routes.ts
Due: npm run prettier, npm run lint

feat: implement login page
  .vscode/settings.json
  package-lock.json
  package.json
  src/App.tsx
  src/pages/login/login.module.scss
  src/pages/login/login.tsx
  src/styles/App.scss
  src/styles/colors.scss
  src/styles/index.scss
Due: npm run prettier, npm run stylelint, npm run lint

feat: add 404 page; write tests for check rendering pages; add some basic styles
  .stylelintignore
  config/dev.js
  config/prod.js
  src/assets/404.svg
  src/assets/subscription.webp
  src/main.tsx
  src/pages/home/home.tsx
  src/pages/notFound/notFound.module.scss
  src/pages/notFound/notFound.tsx
  src/router/router.tsx
  src/styles/App.scss
  src/styles/constants.css
  src/styles/index.css
  src/styles/index.scss
  src/styles/mixins.scss
  src/styles/normalize.css
  src/styles/placeholders.scss
  src/styles/reset.css
  src/test/Home.test.tsx
  src/test/renderPages.test.tsx
Due: npm run prettier, npm run stylelint, npm run lint

feat: implement show password checkbox
  .gitattributes
  src/pages/login/login.module.scss
  src/pages/login/login.tsx
Due: npm run prettier, npm run stylelint, npm run lint

feat: change css styles to scss
  config/dev.js
  config/prod.js
  src/main.tsx
  src/pages/notFound/notFound.module.scss
  src/styles/_base.scss
  src/styles/_constants.scss
  src/styles/_fonts.scss
  src/styles/_mixins.scss
  src/styles/_normalize.scss
  src/styles/_placeholders.scss
  src/styles/_reset.scss
  src/styles/constants.css
  src/styles/index.scss
Due: npm run prettier, npm run stylelint, npm run lint

refactor: change imports; sort imports order
  .vscode/settings.json
  src/pages/home/home.tsx
  src/pages/login/login.tsx
  src/pages/notFound/notFound.tsx
  src/pages/productItem/productItem.tsx
  src/pages/registration/registration.tsx
  src/router/router.tsx
  src/test/Home.test.tsx
  src/test/renderPages.test.tsx
Due: npm run prettier, npm run lint

Feature/RSS-ECOMM-18 (#19)
  .stylelintignore
  .vscode/settings.json
  config/dev.js
  config/prod.js
  package-lock.json
  package.json
  src/App.tsx
  src/assets/404.svg
  src/assets/subscription.webp
  src/main.tsx
  src/pages/home/home.tsx
  src/pages/login/login.tsx
  src/pages/notFound/notFound.module.scss
  src/pages/notFound/notFound.tsx
  src/pages/productItem/productItem.tsx
  src/pages/registration/registration.tsx
  src/router/router.tsx
  src/router/routes.ts
  src/styles/App.scss
  src/styles/_base.scss
  src/styles/_constants.scss
  src/styles/_fonts.scss
  src/styles/_mixins.scss
  src/styles/_normalize.scss
  src/styles/_placeholders.scss
  src/styles/_reset.scss
  src/styles/index.scss
  src/test/App.test.tsx
  src/test/Home.test.tsx
  src/test/renderPages.test.tsx
Due: npm run prettier, npm run stylelint, npm run lint

save: save bug with email input field
  .eslintrc.cjs
  package-lock.json
  package.json
  src/App.tsx
  src/pages/login/login.module.scss
  src/pages/login/login.tsx
Due: npm run prettier, npm run stylelint, npm run lint

feat: create SDK service to handle request/response from commerce tool
  src/commercetool/middlewareOptions.ts
  src/commercetool/sdk.service.ts
  src/commercetool/token.service.ts
  src/pages/home/home.tsx
  src/pages/login/login.tsx
  src/pages/registration/registration.tsx
  src/styles/_reset.scss
  src/types/enums.ts
  src/types/types.ts
  src/utils/constants.ts
  src/utils/storage.ts
  tsconfig.json
Due: npm run prettier, npm run stylelint, npm run lint

feat: add useAuth hook
  .eslintrc.cjs
  src/commercetool/BuildClient.ts
  src/commercetool/Client.ts
  src/commercetool/middlewareOptions.ts
  src/commercetool/sdk.service.ts
  src/main.tsx
  src/pages/home/home.tsx
  src/pages/login/login.tsx
  src/pages/registration/registration.tsx
  src/providers/authProvider.tsx
  src/utils/storage.ts
Due: npm run prettier, npm run lint

feat: implement login page
  src/assets/eye-off.svg
  src/assets/eye-show.svg
  src/pages/login/login.module.scss
  src/pages/login/login.tsx
Due: npm run prettier, npm run stylelint, npm run lint

feat: add withRefreshTokenFlow finctionality to sdk service
  src/commercetool/middlewareOptions.ts
  src/commercetool/sdk.service.ts
Due: npm run prettier, npm run lint

feat: add functionality to show errors connected wuth wrong email or password
  src/commercetool/sdk.service.ts
  src/pages/login/login.tsx
  src/types/enums.ts
Due: npm run prettier, npm run lint

refactor: refactor according to the comments
  package.json
  src/components/AuthFormHeader/AuthFormHeader.module.scss
  src/components/AuthFormHeader/AuthFormHeader.tsx
  src/pages/login/login.module.scss
  src/pages/login/login.tsx
  src/styles/_constants.scss
  src/styles/colors.scss
Due: npm run prettier, npm run stylelint, npm run lint

refactor: move the input field to a separate component
  src/components/input/input.module.scss
  src/components/input/input.tsx
  src/pages/login/login.module.scss
  src/pages/login/login.tsx
  src/styles/_constants.scss
Due: npm run prettier, npm run stylelint, npm run lint

refactor: del ```generateScopedName: '[local]'``` and add eslint rule 'react/require-default-props': 'off'
  .eslintrc.cjs
  config/dev.js
  config/prod.js
  src/components/input/input.tsx
  vite.config.ts
Due: npm run prettier, npm run lint

Feature/rss ecomm 14 login page (#20)
  .eslintrc.cjs
  .gitattributes
  .vscode/settings.json
  config/dev.js
  config/prod.js
  package-lock.json
  package.json
  src/assets/eye-off.svg
  src/assets/eye-show.svg
  src/components/AuthFormHeader/AuthFormHeader.module.scss
  src/components/AuthFormHeader/AuthFormHeader.tsx
  src/components/input/input.module.scss
  src/components/input/input.tsx
  src/pages/login/login.module.scss
  src/pages/login/login.tsx
  src/styles/_constants.scss
  vite.config.ts
Due: npm run prettier, npm run stylelint, npm run lint

fix: fix bug with error during wrong login; add linter rules about max function lines
  .eslintrc.cjs
  src/commercetool/sdk.service.ts
  src/pages/home/home.tsx
  src/pages/login/login.tsx
  src/pages/registration/registration.tsx
  src/styles/_reset.scss
  src/utils/constants.ts
Due: npm run prettier, npm run stylelint, npm run lint

save: save work to continue on another computer
  package-lock.json
  src/components/AddressForm/AddressForm.module.scss
  src/components/AddressForm/AddressForm.tsx
  src/components/Input_/Input_.module.scss
  src/components/Input_/Input_.tsx
  src/pages/home/home.tsx
  src/pages/login/login.module.scss
  src/pages/login/login.tsx
  src/pages/registration/registration.module.scss
  src/pages/registration/registration.tsx
Due: npm run prettier, npm run stylelint, npm run lint

feat: add tests for email input in login form
  src/test/login.test.tsx
Due: npm run prettier, npm run lint

feat: add tests for password input in login form
  src/test/login.test.tsx
Due: npm run prettier, npm run lint

feat: add tests for button Submit in login form
  src/test/login.test.tsx
Due: npm run prettier, npm run lint

feat: place errors in const;
  src/pages/login/login.tsx
  src/test/login.test.tsx
  src/utils/validationConst.ts
Due: npm run prettier, npm run lint

Path conditions:
  npm run prettier: any of: ./src/**/*
  npm run stylelint: any of: ./src/**/*.{css,scss}
  npm run lint: any of: ./src/**/*.{tsx,jsx,ts}
