Repository Yuliya-Karuk/eCommerce-Application: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier:fix, npm run stylelint, npm run lint:fix

fix: New Arrival adaptive
  src/components/NewArrivals/NewArrivals.module.scss
  src/components/NewArrivalsCard/NewArrivalsCard.module.scss
  src/components/NewArrivalsCard/NewArrivalsCard.tsx
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

fix: height for Hero adaptive
  src/pages/home/home.module.scss
Due: npm run prettier:fix, npm run stylelint

feat: implement Gramm
  src/assets/Gramm/Gramm-01.jpg
  src/assets/Gramm/Gramm-02.jpg
  src/assets/Gramm/Gramm-03.jpg
  src/assets/Gramm/Gramm-04.jpg
  src/assets/Gramm/Gramm-05.jpg
  src/assets/Gramm/Gramm-06.jpg
  src/assets/Gramm/Gramm-07.jpg
  src/assets/Gramm/Gramm-08.jpg
  src/assets/Gramm/Gramm-09.jpg
  src/assets/Gramm/Gramm-10.jpg
  src/components/Gramm/Gramm.module.scss
  src/components/Gramm/Gramm.tsx
  src/pages/home/home.tsx
  src/styles/_constants.scss
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

fix: Scrolling a opened burger menu
  src/components/Navigation/Navigation.tsx
Due: npm run prettier:fix, npm run lint:fix

feat: add category validation control
  src/commercetool/sdk.service.ts
  src/components/Slider/Slider.tsx
  src/pages/productItem/productItem.tsx
Due: npm run prettier:fix, npm run lint:fix

feat: add state opened for filter when they are active
  src/components/Breadcrumbs/Breadcrumbs.module.scss
  src/components/Breadcrumbs/Breadcrumbs.tsx
  src/components/CheckboxFilter/CheckboxFilter.tsx
  src/components/ColorFilter/ColorFilter.tsx
  src/components/PriceFilter/PriceFilter.tsx
  src/styles/_reset.scss
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

fix: add saving new token in LS
  src/components/ProfilePassword/ProfilePassword.tsx
Due: npm run prettier:fix, npm run lint:fix

fix: fix imports
  src/utils/utils.ts
Due: npm run prettier:fix, npm run lint:fix

fix: add check for unexisting route
  src/components/Sorting/Sorting.module.scss
  src/pages/catalog/catalog.tsx
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

fix: add loader
  src/pages/catalog/catalog.tsx
Due: npm run prettier:fix, npm run lint:fix

Feature/rss ecomm 27 product page (#36)
  .eslintrc.cjs
  .vscode/settings.json
  package-lock.json
  package.json
  src/assets/heart.svg
  src/commercetool/sdk.service.ts
  src/components/AddressForm/AddressForm.tsx
  src/components/AuthFormHeader/AuthFormHeader.module.scss
  src/components/Discover/Discover.module.scss
  src/components/Navigation/Navigation.module.scss
  src/components/NewArrivals/NewArrivals.module.scss
  src/components/NewArrivalsCard/NewArrivalsCard.module.scss
  src/components/ProductAttributes/ProductAttributesView.module.scss
  src/components/ProductAttributes/ProductAttributesView.tsx
  src/components/ProductInfoSection/ProductInfoSection.module.scss
  src/components/ProductInfoSection/ProductInfoSection.tsx
  src/components/QuantityInput/QuantityInput.module.scss
  src/components/QuantityInput/QuantityInput.tsx
  src/components/Slider/Slider.module.scss
  src/components/Slider/Slider.tsx
  src/pages/login/login.module.scss
  src/pages/productItem/productItem.module.scss
  src/pages/productItem/productItem.tsx
  src/pages/registration/registration.module.scss
  src/pages/registration/registration.tsx
  src/styles/_constants.scss
  src/styles/_mixins.scss
  src/utils/constants.ts
  src/utils/utils.ts
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

feat: Implement footer
  .stylelintrc.json
  src/components/Footer/Footer.module.scss
  src/components/Footer/Footer.tsx
  src/components/Logo/Logo.module.scss
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

Feature/rss ecomm 29 About implement about (#38)
  .stylelintrc.json
  src/assets/Gramm/Gramm-01.jpg
  src/assets/Gramm/Gramm-02.jpg
  src/assets/Gramm/Gramm-03.jpg
  src/assets/Gramm/Gramm-04.jpg
  src/assets/Gramm/Gramm-05.jpg
  src/assets/Gramm/Gramm-06.jpg
  src/assets/Gramm/Gramm-07.jpg
  src/assets/Gramm/Gramm-08.jpg
  src/assets/Gramm/Gramm-09.jpg
  src/assets/Gramm/Gramm-10.jpg
  src/assets/aboutbg.jpg
  src/assets/sprite.svg
  src/components/About/About.module.scss
  src/components/About/About.tsx
  src/components/Banner/Banner.module.scss
  src/components/Banner/Banner.tsx
  src/components/Footer/Footer.module.scss
  src/components/Footer/Footer.tsx
  src/components/Gramm/Gramm.module.scss
  src/components/Gramm/Gramm.tsx
  src/components/LinkButton/LinkButton.module.scss
  src/components/LinkButton/LinkButton.tsx
  src/components/Logo/Logo.module.scss
  src/components/Navigation/Navigation.tsx
  src/components/NewArrivals/NewArrivals.module.scss
  src/components/NewArrivalsCard/NewArrivalsCard.module.scss
  src/components/NewArrivalsCard/NewArrivalsCard.tsx
  src/components/UserMenu/UserMenu.module.scss
  src/components/UserMenu/UserMenu.tsx
  src/pages/about/about.tsx
  src/pages/home/home.module.scss
  src/pages/home/home.tsx
  src/pages/profile/profile.tsx
  src/router/router.tsx
  src/router/routes.ts
  src/styles/_constants.scss
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

fix: fix styles
  src/components/AddressView/AddressView.tsx
  src/components/Filters/Filters.module.scss
  src/components/Footer/Footer.module.scss
  src/components/Footer/Footer.tsx
  src/components/ProductCard/ProductCard.module.scss
  src/pages/productItem/productItem.module.scss
  src/pages/profile/profile.module.scss
  src/pages/profile/profile.tsx
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

feat: add toast for empty search by filters
  src/pages/catalog/catalog.tsx
  src/pages/profile/profile.tsx
  src/utils/constants.ts
Due: npm run prettier:fix, npm run lint:fix

Feature/rss ecomm 30 profile page (#40)
  src/assets/avatar.svg
  src/assets/delete.svg
  src/assets/edit.svg
  src/commercetool/sdk.service.ts
  src/components/Account/Account.module.scss
  src/components/Account/Account.tsx
  src/components/AddressView/AddressView.module.scss
  src/components/AddressView/AddressView.tsx
  src/components/Filters/Filters.module.scss
  src/components/Footer/Footer.module.scss
  src/components/Footer/Footer.tsx
  src/components/Input/Input.tsx
  src/components/NewArrivals/NewArrivals.module.scss
  src/components/NewArrivalsCard/NewArrivalsCard.module.scss
  src/components/ProductCard/ProductCard.module.scss
  src/components/ProfileAddresses/ProfileAddresses.module.scss
  src/components/ProfileAddresses/ProfileAddresses.tsx
  src/components/ProfilePassword/ProfilePassword.module.scss
  src/components/ProfilePassword/ProfilePassword.tsx
  src/components/UserMenu/UserMenu.tsx
  src/contexts/toastProvider.tsx
  src/models/index.ts
  src/pages/catalog/catalog.tsx
  src/pages/home/home.tsx
  src/pages/login/login.tsx
  src/pages/productItem/productItem.module.scss
  src/pages/profile/profile.module.scss
  src/pages/profile/profile.tsx
  src/pages/registration/registration.tsx
  src/router/router.tsx
  src/utils/constants.ts
  src/utils/utils.ts
  src/utils/validationConst.ts
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

refactor: refactor style with new mixin flex
  src/components/Account/Account.module.scss
  src/components/AuthFormHeader/AuthFormHeader.module.scss
  src/components/Banner/Banner.module.scss
  src/components/Breadcrumbs/Breadcrumbs.module.scss
  src/components/CategoryFilter/CategoryFilter.module.scss
  src/components/CheckboxFilter/CheckboxFilter.module.scss
  src/components/ColorFilter/ColorFilter.module.scss
  src/components/Filters/Filters.module.scss
  src/components/PriceFilter/PriceFilter.module.scss
  src/components/ProductCard/ProductCard.module.scss
  src/components/ProfileAddresses/ProfileAddresses.module.scss
  src/components/ProfilePassword/ProfilePassword.module.scss
  src/pages/catalog/catalog.module.scss
  src/pages/productItem/productItem.module.scss
  src/pages/profile/profile.module.scss
Due: npm run prettier:fix, npm run stylelint

fix: fix some styles
  src/components/Account/Account.module.scss
  src/components/AuthFormHeader/AuthFormHeader.module.scss
  src/components/Breadcrumbs/Breadcrumbs.module.scss
  src/components/ColorFilter/ColorFilter.module.scss
  src/components/Footer/Footer.module.scss
  src/components/Header/Header.module.scss
  src/components/Navigation/Navigation.module.scss
  src/components/NewArrivalsCard/NewArrivalsCard.module.scss
  src/components/ProductCard/ProductCard.module.scss
  src/components/ProfilePassword/ProfilePassword.module.scss
  src/pages/catalog/catalog.module.scss
  src/pages/productItem/productItem.module.scss
  src/pages/profile/profile.module.scss
Due: npm run prettier:fix, npm run stylelint

feat: disable page scrolling in fullscreen mode and pause autoplay on image hover
  src/components/Slider/Slider.tsx
Due: npm run prettier:fix, npm run lint:fix

feat: add focus styles for search
  src/components/Footer/Footer.module.scss
  src/components/Search/Search.module.scss
Due: npm run prettier:fix, npm run stylelint

fix: fix links title
  src/components/Gramm/Gramm.tsx
Due: npm run prettier:fix, npm run lint:fix

fix: add transparent color when search is focused
  src/components/Search/Search.module.scss
Due: npm run prettier:fix, npm run stylelint

fix: fix fullscreen toggle to retain current image in Slider component
  src/components/Slider/Slider.tsx
Due: npm run prettier:fix, npm run lint:fix

fix: fix animation on slider fullscreen mode
  src/components/Slider/Slider.tsx
Due: npm run prettier:fix, npm run lint:fix

fix: fix bullets in slider
  src/components/Slider/Slider.tsx
Due: npm run prettier:fix, npm run lint:fix

fix: fix routes and one test
  src/router/router.tsx
  src/test/renderPages.test.tsx
Due: npm run prettier:fix, npm run lint:fix

fix: hover for logout button
  src/components/UserMenu/UserMenu.module.scss
  src/components/UserMenu/UserMenu.tsx
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

feat: add router for Cart Page
  src/components/UserMenu/UserMenu.tsx
  src/pages/cart/cart.tsx
  src/router/router.tsx
  src/router/routes.ts
Due: npm run prettier:fix, npm run lint:fix

feat: add sdk requests for cart add cartContext
  src/commercetool/sdk.service.ts
  src/contexts/cartProvider.tsx
  src/main.tsx
  src/utils/storage.ts
Due: npm run prettier:fix, npm run lint:fix

feat: cart init commit
  src/components/About/About.module.scss
  src/components/Breadcrumbs/Breadcrumbs.module.scss
  src/components/Filters/Filters.module.scss
  src/components/Footer/Footer.module.scss
  src/components/Gramm/Gramm.module.scss
  src/components/LinkButton/LinkButton.module.scss
  src/components/NewArrivals/NewArrivals.module.scss
  src/components/NewArrivalsCard/NewArrivalsCard.module.scss
  src/components/ProductCard/ProductCard.module.scss
  src/components/Sorting/Sorting.module.scss
  src/components/UserMenu/UserMenu.module.scss
  src/pages/cart/cart.module.scss
  src/pages/cart/cart.tsx
  src/pages/home/home.module.scss
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

fix: fix useCart
  src/contexts/cartProvider.tsx
  src/pages/productItem/productItem.tsx
Due: npm run prettier:fix, npm run lint:fix

feat: implement handleAddToCartClick on product page
  src/pages/productItem/productItem.tsx
Due: npm run prettier:fix, npm run lint:fix

fix: fix requiest
  src/pages/productItem/productItem.tsx
Due: npm run prettier:fix, npm run lint:fix

fix: fix add to cart button on product page
  src/commercetool/sdk.service.ts
  src/pages/cart/cart.module.scss
  src/pages/cart/cart.tsx
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

feat: implement getAnonymousCart on cart page and loader
  src/pages/cart/cart.tsx
Due: npm run prettier:fix, npm run lint:fix

feat: implement PriceView and add cart order summary section
  src/components/PriceView/PriceView.module.scss
  src/components/PriceView/PriceView.tsx
  src/pages/cart/cart.module.scss
  src/pages/cart/cart.tsx
  src/pages/productItem/productItem.module.scss
  src/pages/productItem/productItem.tsx
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

fix: fix quantity on productPage
  src/pages/productItem/productItem.tsx
Due: npm run prettier:fix, npm run lint:fix

fix: change useCart to handle app state
  src/commercetool/sdk.service.ts
  src/contexts/authProvider.tsx
  src/contexts/cartProvider.tsx
  src/pages/cart/cart.tsx
  src/pages/productItem/productItem.tsx
Due: npm run prettier:fix, npm run lint:fix

feat: add empty cart message
  src/assets/cart_empty.png
  src/components/EmptyCartMessage/EmptyCartMessage.module.scss
  src/components/EmptyCartMessage/EmptyCartMessage.tsx
  src/pages/cart/cart.module.scss
  src/pages/cart/cart.tsx
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

Path conditions:
  npm run prettier:fix: any of: ./src/**/*
  npm run stylelint: any of: ./src/**/*.{css,scss}
  npm run lint:fix: any of: ./src/**/*.{tsx,jsx,ts}
