Repository Yuliya-Karuk/eCommerce-Application: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier:fix, npm run stylelint, npm run lint:fix

fix: route in Banner
  src/components/Banner/Banner.tsx
Due: npm run prettier:fix, npm run lint:fix

feat: add test for catalog page
  src/test/catalog.test.tsx
  src/test/renderPages.test.tsx
Due: npm run prettier:fix, npm run lint:fix

fix: width Logo
  src/components/Logo/Logo.module.scss
  src/components/Logo/Logo.tsx
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

fix: hover-effect in footer
  src/components/Footer/Footer.module.scss
Due: npm run prettier:fix, npm run stylelint

fix: The disconnecting rule for the Linter is removed
  src/components/Modal/Modal.tsx
Due: npm run prettier:fix, npm run lint:fix

fix: Optimisation NewArrivals
  src/components/NewArrivals/NewArrivals.tsx
  src/components/NewArrivalsCard/NewArrivalsCard.tsx
Due: npm run prettier:fix, npm run lint:fix

fix: The component LinkButton is rewritten
  src/components/LinkButton/LinkButton.module.scss
  src/components/LinkButton/LinkButton.tsx
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

feat: Feature ScrollToTop
  src/components/ScrollToTop/ScrollToTop.tsx
  src/router/router.tsx
Due: npm run prettier:fix, npm run lint:fix

Revert "fix: The component LinkButton is rewritten"
  src/components/LinkButton/LinkButton.module.scss
  src/components/LinkButton/LinkButton.tsx
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

fix: Cursor in Modal
  src/components/Modal/Modal.module.scss
Due: npm run prettier:fix, npm run stylelint

feat: add maximum quantity limit of 50 units in QuantityInput component
  src/components/QuantityInput/QuantityInput.tsx
Due: npm run prettier:fix, npm run lint:fix

fix: fix search styles; active variant button styles;
  src/components/ProductAttributes/ProductAttributesView.module.scss
  src/components/Search/Search.module.scss
Due: npm run prettier:fix, npm run stylelint

fix: fix banner for fix burger menu
  src/pages/home/home.module.scss
Due: npm run prettier:fix, npm run stylelint

fix: photo in Developer component
  src/components/Developer/Developer.module.scss
  src/components/Developer/Developer.tsx
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

fix: Modal adaptive fix
  src/components/Modal/Modal.module.scss
Due: npm run prettier:fix, npm run stylelint

fix: Modal layer
  src/components/Modal/Modal.module.scss
Due: npm run prettier:fix, npm run stylelint

fix: Added links to the footer
  src/components/Footer/Footer.tsx
Due: npm run prettier:fix, npm run lint:fix

fix: lock scroll for Modal
  src/components/Modal/Modal.module.scss
  src/components/Modal/Modal.tsx
  src/hooks/useGetScrollWidth.tsx
  src/hooks/useIsMobile.tsx
  src/styles/_base.scss
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

fix: Glare when clicking on the icon in a UserMenu
  src/components/UserMenu/UserMenu.module.scss
  src/styles/_extends.scss
Due: npm run prettier:fix, npm run stylelint

fix: Transition in Modal
  src/components/Modal/Modal.module.scss
Due: npm run prettier:fix, npm run stylelint

fix: fix bug with cart version when user quick click
  src/components/CartProductCard/CartProductCard.tsx
  src/components/QuantityInput/QuantityInput.module.scss
  src/components/QuantityInput/QuantityInput.tsx
  src/contexts/cartProvider.tsx
  src/pages/cart/cart.tsx
  src/pages/profile/profile.tsx
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

fix: fix repeating request for category; fix breadcrumbs link
  src/components/Breadcrumbs/Breadcrumbs.module.scss
  src/components/Breadcrumbs/Breadcrumbs.tsx
  src/components/NewArrivals/NewArrivals.tsx
  src/pages/profile/profile.tsx
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

Revert "fix: lock scroll for Modal"
  src/components/Modal/Modal.module.scss
  src/components/Modal/Modal.tsx
  src/hooks/useGetScrollWidth.tsx
  src/hooks/useIsMobile.tsx
  src/styles/_base.scss
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

fix: Lock scroll in Modal
  src/components/Modal/Modal.tsx
  src/hooks/useLockScroll.tsx
Due: npm run prettier:fix, npm run lint:fix

fix: fix change qty of product in cart
  src/components/CartProductCard/CartProductCard.tsx
Due: npm run prettier:fix, npm run lint:fix

fix: fix nav menu for catalog page
  src/hooks/useChangeRoute.tsx
Due: npm run prettier:fix, npm run lint:fix

fix: remove console.log
  src/hooks/useChangeRoute.tsx
Due: npm run prettier:fix, npm run lint:fix

feat: Apply promo code on Enter keyUp in PromoCodeView component
  src/components/PromoCodeView/PromoCodeView.tsx
Due: npm run prettier:fix, npm run lint:fix

fix: fix bug with cart
  src/contexts/cartProvider.tsx
Due: npm run prettier:fix, npm run lint:fix

fix: scrollToTop for filter
  src/components/ScrollToTop/ScrollToTop.tsx
Due: npm run prettier:fix, npm run lint:fix

fix: The navigation menu layer
  src/components/Navigation/Navigation.module.scss
Due: npm run prettier:fix, npm run stylelint

fix: border mobile menu
  src/components/Navigation/Navigation.module.scss
Due: npm run prettier:fix, npm run stylelint

fix: fix padding-right for password Input
  src/components/Input/Input.module.scss
  src/components/Input/Input.tsx
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

fix: transition for image in NewArrivalsCard
  src/components/NewArrivalsCard/NewArrivalsCard.module.scss
Due: npm run prettier:fix, npm run stylelint

fix: Correction of StyleLint bugs in NewArrivals and NewArrivalsCard blocks, tips for links.
  src/components/AboutDescription/AboutDescription.module.scss
  src/components/Footer/Footer.module.scss
  src/components/Footer/Footer.tsx
  src/components/LinkButton/LinkButton.module.scss
  src/components/Logo/Logo.tsx
  src/components/Navigation/Navigation.module.scss
  src/components/NewArrivals/NewArrivals.module.scss
  src/components/NewArrivalsCard/NewArrivalsCard.module.scss
  src/styles/_mixins.scss
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

Fix/fix app bugs (#53)
  src/components/AboutDescription/AboutDescription.module.scss
  src/components/Banner/Banner.tsx
  src/components/Breadcrumbs/Breadcrumbs.module.scss
  src/components/Breadcrumbs/Breadcrumbs.tsx
  src/components/CartProductCard/CartProductCard.tsx
  src/components/Developer/Developer.module.scss
  src/components/Developer/Developer.tsx
  src/components/Footer/Footer.module.scss
  src/components/Footer/Footer.tsx
  src/components/Input/Input.module.scss
  src/components/Input/Input.tsx
  src/components/LinkButton/LinkButton.module.scss
  src/components/Logo/Logo.module.scss
  src/components/Logo/Logo.tsx
  src/components/Modal/Modal.module.scss
  src/components/Modal/Modal.tsx
  src/components/Navigation/Navigation.module.scss
  src/components/NewArrivals/NewArrivals.module.scss
  src/components/NewArrivals/NewArrivals.tsx
  src/components/NewArrivalsCard/NewArrivalsCard.module.scss
  src/components/NewArrivalsCard/NewArrivalsCard.tsx
  src/components/ProductAttributes/ProductAttributesView.module.scss
  src/components/ProductInfoSection/ProductInfoSection.tsx
  src/components/PromoCodeView/PromoCodeView.tsx
  src/components/QuantityInput/QuantityInput.module.scss
  src/components/QuantityInput/QuantityInput.tsx
  src/components/ScrollToTop/ScrollToTop.tsx
  src/components/Search/Search.module.scss
  src/components/UserMenu/UserMenu.module.scss
  src/contexts/cartProvider.tsx
  src/hooks/useChangeRoute.tsx
  src/hooks/useLockScroll.tsx
  src/pages/cart/cart.module.scss
  src/pages/cart/cart.tsx
  src/pages/home/home.module.scss
  src/pages/profile/profile.tsx
  src/router/router.tsx
  src/styles/_extends.scss
  src/styles/_mixins.scss
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

fix: fix padding-right on profile page and test NewArrivals component
  src/components/NewArrivals/NewArrivals.tsx
  src/components/ProfilePassword/ProfilePassword.module.scss
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

Feature/rss ecomm 52 unit tests (#54)
  src/commercetool/sdk.service.ts
  src/components/NewArrivals/NewArrivals.tsx
  src/components/ProfilePassword/ProfilePassword.module.scss
  src/contexts/cartProvider.tsx
  src/test/ProductItem.test.tsx
  src/test/catalog.test.tsx
  src/test/renderPages.test.tsx
  src/test/sdkTests/getCart.test.tsx
  src/test/sdkTests/getCategories.test.tsx
  src/test/sdkTests/getCustomerData.test.tsx
  src/test/sdkTests/getProductByKey.test.tsx
  src/test/sdkTests/getProductsTypes.test.tsx
  src/test/utils.test.ts
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

feat: fix styles
  src/components/NewArrivals/NewArrivals.module.scss
  src/pages/about/about.module.scss
  src/pages/cart/cart.module.scss
  src/pages/catalog/catalog.module.scss
  src/pages/home/home.module.scss
  src/pages/productItem/productItem.module.scss
Due: npm run prettier:fix, npm run stylelint

feat: update README.md
  README.md
Due: none

Path conditions:
  npm run prettier:fix: any of: ./src/**/*
  npm run stylelint: any of: ./src/**/*.{css,scss}
  npm run lint:fix: any of: ./src/**/*.{tsx,jsx,ts}
