Repository Yuliya-Karuk/eCommerce-Application: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier:fix, npm run stylelint, npm run lint:fix

.lintstagedrc.json:

{
  "./src/**/*": "npm run prettier:fix",
  "./src/**/*.{css,scss}": "npm run stylelint",
  "./src/**/*.{tsx,jsx,ts}": "npm run lint:fix"
}

feat: change tests for render components by route; add exlude for vitest config
  src/test/renderPages.test.tsx
  vitest.config.ts
Due: npm run prettier:fix, npm run lint:fix

feat: add AddressForm component, registration page, rename input to Input and replace color $color-semi-transparent-dark-gray to $color-input-bg
  src/components/AddressForm/AddressForm.module.scss
  src/components/AddressForm/AddressForm.tsx
  src/components/AuthFormHeader/AuthFormHeader.module.scss
  src/components/Input/Input.module.scss
  src/components/Input/Input.tsx
  src/pages/login/login.module.scss
  src/pages/login/login.tsx
  src/pages/registration/registration.module.scss
  src/pages/registration/registration.tsx
  src/styles/_constants.scss
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

refactor: change some names; add check in useAuth hook
  src/commercetool/sdk.service.ts
  src/contexts/authProvider.tsx
  src/main.tsx
  src/pages/home/home.tsx
  src/pages/login/login.tsx
  src/pages/registration/registration.tsx
Due: npm run prettier:fix, npm run lint:fix

feat: add test for testing whitespaces in inputs
  src/test/login.test.tsx
Due: npm run prettier:fix, npm run lint:fix

feat: add the autocomplete property to the input field
  src/components/Input/Input.tsx
  src/pages/login/login.tsx
  src/pages/registration/registration.tsx
Due: npm run prettier:fix, npm run lint:fix

feat: implement update postalCode validation on country change and change europe nj germany
  src/components/AddressForm/AddressForm.tsx
  src/pages/registration/registration.tsx
Due: npm run prettier:fix, npm run lint:fix

feat: add toast for showing result of login
  package-lock.json
  package.json
  src/commercetool/sdk.service.ts
  src/pages/login/login.module.scss
  src/pages/login/login.tsx
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

feat: add toasts for registration;
  src/commercetool/sdk.service.ts
  src/commercetool/token.service.ts
  src/contexts/authProvider.tsx
  src/pages/home/home.tsx
  src/pages/login/login.tsx
  src/pages/registration/registration.tsx
  src/utils/constants.ts
Due: npm run prettier:fix, npm run lint:fix

feat: add checkbox for default address and for copy shipping address to billing address
  src/components/AddressForm/AddressForm.module.scss
  src/components/AddressForm/AddressForm.tsx
  src/pages/registration/registration.tsx
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

refactor: add vite-tsconfig-paths
  .eslintrc.cjs
  config/dev.js
  config/prod.js
  package-lock.json
  package.json
  src/commercetool/sdk.service.ts
  src/contexts/authProvider.tsx
  src/pages/home/home.tsx
  src/pages/login/login.module.scss
  src/pages/login/login.tsx
  src/pages/notFound/notFound.tsx
  src/pages/registration/registration.tsx
  src/router/router.tsx
  src/router/routes.ts
  src/test/renderPages.test.tsx
  src/types/enums.ts
  src/utils/constants.ts
  tsconfig.json
  vite.config.ts
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

fix: add configuration for resolving paths in vitest config
  vitest.config.ts
Due: none

fix: remove unused interface
  src/types/types.ts
Due: npm run prettier:fix, npm run lint:fix

bla
  src/utils/constants.ts
Due: npm run prettier:fix, npm run lint:fix

fix: Turning off the rule react-hooks/exhaustive-deps for a particular case
  .eslintrc.cjs
  src/components/Navigation/Navigation.tsx
Due: npm run prettier:fix, npm run lint:fix

fix: header menu styles
  src/components/Navigation/_Menu.scss
Due: npm run prettier:fix, npm run stylelint

feat: create useToast custom hook
  .eslintrc.cjs
  src/contexts/authProvider.tsx
  src/contexts/toastProvider.tsx
  src/main.tsx
  src/modals/index.ts
  src/pages/home/home.tsx
  src/pages/login/login.tsx
  src/pages/registration/registration.tsx
  src/types/enums.ts
  src/types/types.ts
  tsconfig.json
Due: npm run prettier:fix, npm run lint:fix

fix: fix form logic: add shippingAddresses and billingAddresses, remove placeholder from Input
  src/components/AddressForm/AddressForm.module.scss
  src/components/AddressForm/AddressForm.tsx
  src/components/Input/Input.tsx
  src/pages/login/login.tsx
  src/pages/registration/registration.module.scss
  src/pages/registration/registration.tsx
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

refactor: use native "fieldset" and "legend" instead of "section" with "before"
  src/components/AddressForm/AddressForm.module.scss
  src/components/AddressForm/AddressForm.tsx
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

Feature/RSS-ECOMM-16 registration page (#24)
  package-lock.json
  src/components/AddressForm/AddressForm.module.scss
  src/components/AddressForm/AddressForm.tsx
  src/components/AuthFormHeader/AuthFormHeader.module.scss
  src/components/Input/Input.module.scss
  src/components/Input/Input.tsx
  src/components/input/input.tsx
  src/pages/home/home.tsx
  src/pages/login/login.module.scss
  src/pages/login/login.tsx
  src/pages/registration/registration.module.scss
  src/pages/registration/registration.tsx
  src/styles/_constants.scss
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

feat: add tests for password and email inputs in registration form
  src/pages/login/login.tsx
  src/pages/registration/registration.tsx
  src/test/registration.tsx
  src/test/renderPages.test.tsx
  src/utils/validationConst.ts
Due: npm run prettier:fix, npm run lint:fix

feat: add test for date input in registration page
  src/test/commonInputs.test.tsx
  src/test/login.test.tsx
  src/test/registration.test.tsx
  src/test/registration.tsx
  src/test/root.test.tsx
Due: npm run prettier:fix, npm run lint:fix

fix: Editing header
  .eslintrc.cjs
  src/components/Header/Header.tsx
  src/components/Hero/Hero.tsx
  src/components/List/List.tsx
  src/components/ListItem/ListItem.tsx
  src/components/Logo/Logo.tsx
  src/components/Logo/_Logo.module.scss
  src/components/Main/Main.tsx
  src/components/Main/_Main.module.scss
  src/components/Navigation/Navigation.tsx
  src/components/Navigation/_Menu.scss
  src/components/Navigation/_Navigation.module.scss
  src/components/UserMenu/UserMenu.tsx
  src/components/UserMenu/_UserMenu.module.scss
  src/components/UserServices/UserServices.tsx
  src/components/index.ts
  src/pages/home/_home.module.scss
  src/pages/home/home.tsx
  src/pages/notFound/notFound.module.scss
  src/styles/_base.scss
  src/styles/_extends.scss
  src/styles/_mixins.scss
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

refactor: change nav to correspond requirements; change some naming
  package-lock.json
  package.json
  src/components/Banner/Banner.module.scss
  src/components/Banner/Banner.tsx
  src/components/Container/Container.tsx
  src/components/Footer/Footer.module.scss
  src/components/Footer/Footer.tsx
  src/components/Header/Header.module.scss
  src/components/Header/Header.tsx
  src/components/List/List.tsx
  src/components/Logo/Logo.module.scss
  src/components/Logo/Logo.tsx
  src/components/Navigation/Navigation.module.scss
  src/components/Navigation/Navigation.tsx
  src/components/UserMenu/UserMenu.module.scss
  src/components/UserMenu/UserMenu.tsx
  src/components/index.ts
  src/pages/catalog/catalog.tsx
  src/pages/home/home.module.scss
  src/pages/home/home.tsx
  src/pages/plants/plants.tsx
  src/pages/pots/pots.tsx
  src/pages/subscriptions/subscriptions.tsx
  src/router/router.tsx
  src/router/routes.ts
  src/styles/_base.scss
  src/styles/_reset.scss
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

refactor: Small editing styles
  src/components/Banner/Banner.module.scss
  src/components/Footer/Footer.module.scss
  src/components/Header/Header.module.scss
Due: npm run prettier:fix, npm run stylelint

refactor: Flower format with transparency
  src/styles/_constants.scss
Due: npm run prettier:fix, npm run stylelint

refactor: Format of variables for flowers
  src/components/Navigation/Navigation.module.scss
  src/styles/_constants.scss
Due: npm run prettier:fix, npm run stylelint

refactor: footer tag
  src/components/Footer/Footer.tsx
Due: npm run prettier:fix, npm run lint:fix

feat: implement header (#25)
  .eslintrc.cjs
  .stylelintrc.json
  config/dev.js
  config/prod.js
  index.html
  package-lock.json
  package.json
  src/assets/sprite.svg
  src/assets/topbg.jpg
  src/components/Banner/Banner.module.scss
  src/components/Banner/Banner.tsx
  src/components/Container/Container.tsx
  src/components/Footer/Footer.module.scss
  src/components/Footer/Footer.tsx
  src/components/Header/Header.module.scss
  src/components/Header/Header.tsx
  src/components/Logo/Logo.module.scss
  src/components/Logo/Logo.tsx
  src/components/Navigation/Navigation.module.scss
  src/components/Navigation/Navigation.tsx
  src/components/UserMenu/UserMenu.module.scss
  src/components/UserMenu/UserMenu.tsx
  src/components/index.ts
  src/pages/catalog/catalog.tsx
  src/pages/home/home.module.scss
  src/pages/home/home.tsx
  src/pages/login/login.tsx
  src/pages/notFound/notFound.module.scss
  src/pages/registration/registration.tsx
  src/router/router.tsx
  src/router/routes.ts
  src/styles/_base.scss
  src/styles/_constants.scss
  src/styles/_extends.scss
  src/styles/_fonts.scss
  src/styles/_functions.scss
  src/styles/_mixins.scss
  src/styles/_reset.scss
  src/styles/index.scss
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

refactor: add favicon
  src/favicon.svg
  src/models/index.ts
  src/pages/login/login.tsx
  tsconfig.json
Due: npm run prettier:fix, npm run lint:fix

fix: fix bug with adresses; fix bug with container
  src/components/Container/Container.tsx
  src/pages/home/home.tsx
  src/pages/login/login.module.scss
  src/pages/registration/registration.module.scss
  src/pages/registration/registration.tsx
  src/styles/_base.scss
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

refactor: fix imports; remove unused consts
  src/components/AddressForm/AddressForm.tsx
  src/components/Banner/Banner.tsx
  src/components/Header/Header.tsx
  src/components/Logo/Logo.tsx
  src/components/UserMenu/UserMenu.tsx
  src/pages/login/login.tsx
  src/pages/registration/registration.tsx
  src/utils/constants.ts
Due: npm run prettier:fix, npm run lint:fix

Feature/RSS-ECOMM-15 SDK Integration (#21)
  .eslintrc.cjs
  config/dev.js
  config/prod.js
  package-lock.json
  package.json
  src/commercetool/BuildClient.ts
  src/commercetool/Client.ts
  src/commercetool/middlewareOptions.ts
  src/commercetool/sdk.service.ts
  src/commercetool/token.service.ts
  src/components/AddressForm/AddressForm.tsx
  src/components/Banner/Banner.tsx
  src/components/Container/Container.tsx
  src/components/Header/Header.tsx
  src/components/Logo/Logo.tsx
  src/components/Navigation/Navigation.tsx
  src/components/UserMenu/UserMenu.tsx
  src/contexts/authProvider.tsx
  src/contexts/toastProvider.tsx
  src/favicon.svg
  src/main.tsx
  src/models/index.ts
  src/pages/home/home.tsx
  src/pages/login/login.module.scss
  src/pages/login/login.tsx
  src/pages/notFound/notFound.tsx
  src/pages/registration/registration.module.scss
  src/pages/registration/registration.tsx
  src/router/router.tsx
  src/router/routes.ts
  src/styles/_base.scss
  src/test/renderPages.test.tsx
  src/utils/constants.ts
  src/utils/storage.ts
  tsconfig.json
  vite.config.ts
  vitest.config.ts
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

feat: add a link in the form of a cross to the home page on the login page
  src/pages/login/login.module.scss
  src/pages/login/login.tsx
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

feat: add category filter layout
  src/assets/catalog-all.webp
  src/commercetool/sdk.service.ts
  src/components/Filters/Filters.module.scss
  src/components/Filters/Filters.tsx
  src/pages/catalog/catalog.module.scss
  src/pages/catalog/catalog.tsx
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

feat: move the cross with the link to the main page to the AuthFormHeader component
  src/components/AuthFormHeader/AuthFormHeader.module.scss
  src/components/AuthFormHeader/AuthFormHeader.tsx
  src/pages/login/login.module.scss
  src/pages/login/login.tsx
  src/pages/registration/registration.module.scss
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

feat: add breadcrumbs and change components
  index.html
  src/assets/arrow.svg
  src/assets/catalog-collections.webp
  src/assets/catalog-plants.webp
  src/assets/catalog-pots.webp
  src/assets/react.svg
  src/assets/vite.svg
  src/commercetool/sdk.service.ts
  src/components/Breadcrumbs/Breadcrumbs.module.scss
  src/components/Breadcrumbs/Breadcrumbs.tsx
  src/components/Filters/Filters.module.scss
  src/components/Filters/Filters.tsx
  src/pages/catalog/catalog.module.scss
  src/pages/catalog/catalog.tsx
  src/utils/utils.ts
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

feat: products cards
  src/commercetool/sdk.service.ts
  src/components/Filters/Filters.module.scss
  src/components/ProductCard/ProductCard.module.scss
  src/components/ProductCard/ProductCard.tsx
  src/pages/catalog/catalog.module.scss
  src/pages/catalog/catalog.tsx
  src/styles/_reset.scss
  src/utils/utils.ts
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

feat: add name, price and description on product page
  .vscode/settings.json
  src/commercetool/sdk.service.ts
  src/components/Navigation/Navigation.module.scss
  src/pages/login/login.module.scss
  src/pages/productItem/productItem.module.scss
  src/pages/productItem/productItem.tsx
  src/pages/registration/registration.module.scss
  src/styles/_base.scss
  src/styles/_constants.scss
  src/styles/_mixins.scss
  src/utils/utils.ts
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

refactor: change price format; add some constants
  src/components/ProductCard/ProductCard.module.scss
  src/components/ProductCard/ProductCard.tsx
  src/utils/utils.ts
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix
