Repository Yuliya-Karuk/eCommerce-Application: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier:fix, npm run stylelint, npm run lint:fix

.lintstagedrc.json:

{
  "./src/**/*": "npm run prettier:fix",
  "./src/**/*.{css,scss}": "npm run stylelint",
  "./src/**/*.{tsx,jsx,ts}": "npm run lint:fix"
}

fix: fix catalog filter
  src/pages/catalog/catalog.tsx
Due: npm run prettier:fix, npm run lint:fix

fix: Editing from the Commanda
  public/images/New Arrivals/template.png
  src/components/NewArrivals/NewArrivals.module.scss
  src/components/NewArrivals/NewArrivals.tsx
  src/components/NewArrivalsCard/NewArrivalsCard.module.scss
  src/components/NewArrivalsCard/NewArrivalsCard.tsx
  src/components/UserMenu/UserMenu.tsx
  src/styles/_constants.scss
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

feat: added links
  public/images/Discover/discover-1.jpg
  public/images/Discover/discover-2.jpg
  public/images/Discover/discover-3.jpg
  src/components/Discover/Discover.module.scss
  src/components/Discover/Discover.tsx
  src/styles/_constants.scss
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

feat: separate the filter component
  src/commercetool/sdk.service.ts
  src/components/Breadcrumbs/Breadcrumbs.tsx
  src/components/CategoryFilter/CategoryFilter.tsx
  src/components/CheckboxFilter/CheckboxFilter.module.scss
  src/components/CheckboxFilter/CheckboxFilter.tsx
  src/components/Filters/Filters.module.scss
  src/components/Filters/Filters.tsx
  src/components/ProductCard/ProductCard.tsx
  src/components/Search/Search.tsx
  src/pages/catalog/catalog.tsx
  src/utils/constants.ts
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

feat: add search by search query
  src/commercetool/sdk.service.ts
  src/components/Search/Search.tsx
  src/models/index.ts
  src/pages/catalog/catalog.tsx
  src/utils/constants.ts
  src/utils/utils.ts
Due: npm run prettier:fix, npm run lint:fix

feat: new route for one product
  src/commercetool/sdk.service.ts
  src/components/NewArrivals/NewArrivals.tsx
  src/components/NewArrivalsCard/NewArrivalsCard.tsx
  src/models/index.ts
  src/router/router.tsx
  src/router/routes.ts
  src/utils/utils.ts
Due: npm run prettier:fix, npm run lint:fix

feat: add functionality for sorting
  src/commercetool/sdk.service.ts
  src/components/CategoryFilter/CategoryFilter.module.scss
  src/components/Filters/Filters.module.scss
  src/components/Search/Search.tsx
  src/components/Sorting/Sorting.tsx
  src/models/index.ts
  src/pages/catalog/catalog.module.scss
  src/pages/catalog/catalog.tsx
  src/utils/constants.ts
  src/utils/utils.ts
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

refactor: Mentor's comments
  src/components/NewArrivals/NewArrivals.tsx
  src/components/NewArrivalsCard/NewArrivalsCard.module.scss
  src/components/NewArrivalsCard/NewArrivalsCard.tsx
  src/pages/registration/registration.tsx
  src/utils/utils.ts
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

fix: images size
  src/components/Discover/Discover.module.scss
  src/components/Discover/Discover.tsx
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

feat: add lazy loading
  src/components/NewArrivalsCard/NewArrivalsCard.tsx
Due: npm run prettier:fix, npm run lint:fix

fix: Dimensions and indentation of pictures
  src/components/NewArrivals/NewArrivals.module.scss
  src/components/NewArrivalsCard/NewArrivalsCard.module.scss
Due: npm run prettier:fix, npm run stylelint

refactor: add Container
  src/pages/productItem/productItem.tsx
Due: npm run prettier:fix, npm run lint:fix

refactor: add ensureValue utility
  src/pages/productItem/productItem.module.scss
  src/pages/productItem/productItem.tsx
  src/utils/utils.ts
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

fix: some style edits for adaptivity
  src/components/Breadcrumbs/Breadcrumbs.module.scss
  src/pages/productItem/productItem.module.scss
Due: npm run prettier:fix, npm run stylelint

feat: change the cross to a link
  src/components/AuthFormHeader/AuthFormHeader.module.scss
  src/components/AuthFormHeader/AuthFormHeader.tsx
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

refactor: change Product to ProductProjection
  src/commercetool/sdk.service.ts
  src/components/ProductAttributes/ProductAttributesView.tsx
  src/pages/productItem/productItem.tsx
Due: npm run prettier:fix, npm run lint:fix

fix: fix some eslint problem; remove unused code
  src/assets/arrow-black.svg
  src/assets/arrow-white.svg
  src/commercetool/sdk.service.ts
  src/components/Breadcrumbs/Breadcrumbs.tsx
  src/components/CategoryFilter/CategoryFilter.tsx
  src/components/CheckboxFilter/CheckboxFilter.tsx
  src/components/ColorFilter/ColorFilter.tsx
  src/components/Filters/Filters.tsx
  src/components/Header/Header.tsx
  src/components/PriceFilter/PriceFilter.tsx
  src/components/Search/Search.tsx
  src/components/Sorting/Sorting.module.scss
  src/components/Sorting/Sorting.tsx
  src/components/UserMenu/UserMenu.tsx
  src/pages/catalog/catalog.tsx
  src/pages/home/home.tsx
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

fix: change link location
  src/components/AuthFormHeader/AuthFormHeader.module.scss
  src/components/AuthFormHeader/AuthFormHeader.tsx
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

Feature/RSS-ECOMM-26 link to the main page on the login and register forms (#31)
  src/components/AuthFormHeader/AuthFormHeader.module.scss
  src/components/AuthFormHeader/AuthFormHeader.tsx
  src/pages/login/login.module.scss
  src/pages/registration/registration.module.scss
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

fix: remove index.ts and correct imports
  src/components/ProductAttributes/ProductAttributesView.tsx
  src/components/QuantityInput/QuantityInput.tsx
  src/components/index.ts
  src/pages/catalog/catalog.tsx
  src/pages/home/home.tsx
  src/pages/productItem/productItem.tsx
  src/pages/registration/registration.tsx
  src/utils/constants.ts
Due: npm run prettier:fix, npm run lint:fix

feat: add Loader and handling server errors
  package-lock.json
  package.json
  src/components/Filters/Filters.tsx
  src/components/Loader/Loader.module.scss
  src/components/Loader/Loader.tsx
  src/components/index.ts
  src/contexts/toastProvider.tsx
  src/pages/catalog/catalog.tsx
  src/pages/home/home.tsx
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

fix: remove unused line
  src/pages/catalog/catalog.tsx
Due: npm run prettier:fix, npm run lint:fix

fix: fix bug when in product card can be set empty category
  src/components/ProductCard/ProductCard.tsx
  src/pages/catalog/catalog.tsx
Due: npm run prettier:fix, npm run lint:fix

refactor: Editing pictures
  public/images/Discover/discover-1.jpg
  public/images/Discover/discover-2.jpg
  public/images/Discover/discover-3.jpg
  src/assets/template.png
  src/components/NewArrivalsCard/NewArrivalsCard.tsx
Due: npm run prettier:fix, npm run lint:fix

refactor: Sort transfer to utilities
  src/components/NewArrivals/NewArrivals.tsx
  src/utils/utils.ts
Due: npm run prettier:fix, npm run lint:fix

fix: Error of an empty array of categories
  src/components/NewArrivals/NewArrivals.tsx
Due: npm run prettier:fix, npm run lint:fix

feat: implement loader and customToast
  .vscode/settings.json
  package-lock.json
  package.json
  src/components/Loader/Loader.module.scss
  src/components/Loader/Loader.tsx
  src/contexts/toastProvider.tsx
  src/pages/productItem/productItem.module.scss
  src/pages/productItem/productItem.tsx
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

feat: add profile Page and Account Component
  src/components/Account/Account.module.scss
  src/components/Account/Account.tsx
  src/components/UserMenu/UserMenu.tsx
  src/components/index.ts
  src/pages/home/home.tsx
  src/pages/profile/profile.module.scss
  src/pages/profile/profile.tsx
  src/router/router.tsx
  src/router/routes.ts
  src/styles/_reset.scss
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

feat: add request to get Customer data
  src/commercetool/sdk.service.ts
  src/components/Account/Account.tsx
  src/pages/profile/profile.tsx
Due: npm run prettier:fix, npm run lint:fix

feat: implement setValue
  src/components/Account/Account.module.scss
  src/components/Account/Account.tsx
  src/styles/_mixins.scss
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

feat: add functions for sdk
  src/commercetool/sdk.service.ts
Due: npm run prettier:fix, npm run lint:fix

feat: implement onSubmit
  src/components/Account/Account.module.scss
  src/components/Account/Account.tsx
  src/styles/_constants.scss
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

fix: del console.log
  src/components/Account/Account.tsx
Due: npm run prettier:fix, npm run lint:fix

feat: implement disabled status and change Edit/Submit
  src/components/Account/Account.tsx
  src/components/Input/Input.tsx
Due: npm run prettier:fix, npm run lint:fix

feat: change buttons
  src/components/Account/Account.module.scss
  src/components/Account/Account.tsx
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

feat: add styling; add password block
  src/assets/avatar.svg
  src/components/Account/Account.tsx
  src/components/ProfilePassword/ProfilePassword.module.scss
  src/components/ProfilePassword/ProfilePassword.tsx
  src/pages/profile/profile.module.scss
  src/pages/profile/profile.tsx
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

fix: fix loader and styles bugs
  src/components/Filters/Filters.tsx
  src/components/Sorting/Sorting.module.scss
  src/pages/catalog/catalog.tsx
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

fix: increase dizzy search level
  src/utils/constants.ts
Due: npm run prettier:fix, npm run lint:fix

Feature/rss ecomm 15 new arrivals implement new arrivals (#32)
  postcss.config.js
  public/images/New Arrivals/template.png
  src/commercetool/sdk.service.ts
  src/components/Header/Header.module.scss
  src/components/Navigation/Navigation.module.scss
  src/components/NewArrivals/NewArrivals.module.scss
  src/components/NewArrivals/NewArrivals.tsx
  src/components/NewArrivalsCard/NewArrivalsCard.module.scss
  src/components/NewArrivalsCard/NewArrivalsCard.tsx
  src/components/UserMenu/UserMenu.module.scss
  src/components/UserMenu/UserMenu.tsx
  src/components/index.ts
  src/contexts/authProvider.tsx
  src/contexts/toastProvider.tsx
  src/models/index.ts
  src/pages/home/home.tsx
  src/pages/registration/registration.tsx
  src/router/router.tsx
  src/router/routes.ts
  src/styles/_base.scss
  src/styles/_constants.scss
  src/utils/utils.ts
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

refactor: change styles for accout
  src/components/Account/Account.module.scss
  src/components/AuthFormHeader/AuthFormHeader.module.scss
  src/components/Navigation/Navigation.module.scss
  src/components/ProfilePassword/ProfilePassword.module.scss
  src/components/ProfilePassword/ProfilePassword.tsx
  src/pages/login/login.module.scss
  src/pages/profile/profile.module.scss
  src/pages/profile/profile.tsx
  src/pages/registration/registration.module.scss
  src/styles/_base.scss
  src/styles/_reset.scss
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix
