Repository Yuliya-Karuk/eCommerce-Application: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier:fix, npm run stylelint, npm run lint:fix

.lintstagedrc.json:

{
  "./src/**/*": "npm run prettier:fix",
  "./src/**/*.{css,scss}": "npm run stylelint",
  "./src/**/*.{tsx,jsx,ts}": "npm run lint:fix"
}

Feature/RSS-ECOMM-19 testing (#23)
  src/pages/login/login.tsx
  src/pages/registration/registration.tsx
  src/test/commonInputs.test.tsx
  src/test/login.test.tsx
  src/test/registration.test.tsx
  src/test/renderPages.test.tsx
  src/test/root.test.tsx
  src/utils/validationConst.ts
  vitest.config.ts
Due: npm run prettier:fix, npm run lint:fix

feat: replace validation consts
  src/components/Account/Account.tsx
  src/components/ProfilePassword/ProfilePassword.tsx
  src/pages/login/login.tsx
  src/pages/registration/registration.tsx
  src/utils/validationConst.ts
Due: npm run prettier:fix, npm run lint:fix

feat: add some layouts for addresses
  src/assets/delete.svg
  src/assets/edit.svg
  src/components/NewArrivals/NewArrivals.tsx
  src/components/NewArrivalsCard/NewArrivalsCard.tsx
  src/components/ProfileAddresses/ProfileAddresses.module.scss
  src/components/ProfileAddresses/ProfileAddresses.tsx
  src/models/index.ts
  src/pages/profile/profile.tsx
  src/utils/utils.ts
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

refactor: Public image transfer to Assets
  src/assets/Discover/discover-1.jpg
  src/assets/Discover/discover-2.jpg
  src/assets/Discover/discover-3.jpg
  src/components/Discover/Discover.tsx
Due: npm run prettier:fix, npm run lint:fix

refactor: Public image transfer to Assets (#35)
  src/assets/Discover/discover-1.jpg
  src/assets/Discover/discover-2.jpg
  src/assets/Discover/discover-3.jpg
  src/components/Discover/Discover.tsx
Due: npm run prettier:fix, npm run lint:fix

refactor: cleared garbage
  public/images/New Arrivals/template.png
Due: none

feat: add disabled input style and fix submit button disabled status
  src/components/Account/Account.module.scss
  src/components/Account/Account.tsx
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

feat: rename buttons Reset to Cancel and Submit to Save
  src/components/Account/Account.tsx
Due: npm run prettier:fix, npm run lint:fix

feat: refine ProfilePassword
  src/components/ProfilePassword/ProfilePassword.module.scss
  src/components/ProfilePassword/ProfilePassword.tsx
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

feat: add sdk requsts
  src/components/Account/Account.tsx
  src/components/ProfilePassword/ProfilePassword.tsx
  src/models/index.ts
Due: npm run prettier:fix, npm run lint:fix

fix: fix Spell warnings
  .vscode/settings.json
Due: none

feat: add notification for success/error update profile
  src/components/Account/Account.tsx
  src/components/ProfilePassword/ProfilePassword.tsx
  src/contexts/toastProvider.tsx
  src/pages/home/home.tsx
  src/pages/profile/profile.module.scss
  src/pages/profile/profile.tsx
  src/styles/_reset.scss
  src/utils/constants.ts
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

feat: add update address request
  src/commercetool/sdk.service.ts
Due: npm run prettier:fix, npm run lint:fix

feat: add function for adding new adsress'
  src/commercetool/sdk.service.ts
  src/components/ProfileAddresses/ProfileAddresses.tsx
  src/utils/utils.ts
Due: npm run prettier:fix, npm run lint:fix

feat: add AddressView component
  .vscode/settings.json
  src/components/AddressView/AddressView.module.scss
  src/components/AddressView/AddressView.tsx
  src/components/ProfileAddresses/ProfileAddresses.tsx
  src/utils/constants.ts
  src/utils/utils.ts
  src/utils/validationConst.ts
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

feat: add address view component to the ProfileAddresses
  src/components/AddressView/AddressView.module.scss
  src/components/AddressView/AddressView.tsx
  src/components/ProfileAddresses/ProfileAddresses.tsx
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

feat: add disabled status and delete button
  src/components/AddressView/AddressView.module.scss
  src/components/AddressView/AddressView.tsx
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

feat: add console.log for submit data and button addAddress
  src/components/AddressView/AddressView.tsx
Due: npm run prettier:fix, npm run lint:fix

feat: add function for delete/unset default addres
  src/commercetool/sdk.service.ts
  src/components/ProfileAddresses/ProfileAddresses.tsx
Due: npm run prettier:fix, npm run lint:fix

feat: add console.log for submit data and button addAddress
  src/components/ProfileAddresses/ProfileAddresses.module.scss
  src/components/ProfileAddresses/ProfileAddresses.tsx
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

feat: add functionality to remove address and show form for new address
  src/commercetool/sdk.service.ts
  src/components/Account/Account.tsx
  src/components/AddressView/AddressView.tsx
  src/components/ProfileAddresses/ProfileAddresses.module.scss
  src/components/ProfileAddresses/ProfileAddresses.tsx
  src/models/index.ts
  src/pages/profile/profile.tsx
  src/utils/constants.ts
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

feat: add functionality to add new address
  src/commercetool/sdk.service.ts
  src/components/AddressView/AddressView.tsx
  src/components/ProfileAddresses/ProfileAddresses.tsx
  src/utils/constants.ts
Due: npm run prettier:fix, npm run lint:fix

feat: fix functionality to add new address
  src/commercetool/sdk.service.ts
  src/components/AddressView/AddressView.tsx
  src/components/ProfileAddresses/ProfileAddresses.tsx
  src/pages/profile/profile.tsx
  src/utils/constants.ts
Due: npm run prettier:fix, npm run lint:fix

feat: add functionality to change address
  src/commercetool/sdk.service.ts
  src/components/AddressView/AddressView.tsx
  src/components/ProfileAddresses/ProfileAddresses.tsx
Due: npm run prettier:fix, npm run lint:fix

fix: fix "Make address as default" checkbox disabled status, dataEdited status and reset
  src/components/AddressView/AddressView.tsx
Due: npm run prettier:fix, npm run lint:fix

fix: fix slider adaptive
  src/pages/productItem/productItem.module.scss
Due: npm run prettier:fix, npm run stylelint

fix: fix bugs with price filter
  package-lock.json
  package.json
  src/components/CategoryFilter/CategoryFilter.tsx
  src/components/ColorFilter/ColorFilter.tsx
  src/components/Filters/Filters.tsx
  src/components/PriceFilter/PriceFilter.tsx
  src/components/ProductCard/ProductCard.tsx
  src/utils/constants.ts
Due: npm run prettier:fix, npm run lint:fix

fix: add placeholder for img in Product Card
  src/components/ProductCard/ProductCard.tsx
Due: npm run prettier:fix, npm run lint:fix

fix: add code with bug when with choosen filters you click on other category
  src/components/Breadcrumbs/Breadcrumbs.tsx
  src/components/CategoryFilter/CategoryFilter.tsx
  src/components/Filters/Filters.tsx
  src/pages/catalog/catalog.tsx
Due: npm run prettier:fix, npm run lint:fix

fix: fix bug with browser popstate
  src/components/CategoryFilter/CategoryFilter.tsx
  src/components/Filters/Filters.tsx
  src/pages/catalog/catalog.tsx
Due: npm run prettier:fix, npm run lint:fix

feat: implement link to profile and tooltips
  src/assets/sprite.svg
  src/components/UserMenu/UserMenu.module.scss
  src/components/UserMenu/UserMenu.tsx
  src/pages/profile/profile.tsx
  src/router/router.tsx
  src/router/routes.ts
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

feat: universal component LinkButton
  src/components/Banner/Banner.module.scss
  src/components/Banner/Banner.tsx
  src/components/LinkButton/LinkButton.module.scss
  src/components/LinkButton/LinkButton.tsx
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

feat: implement About
  src/assets/aboutbg.jpg
  src/components/About/About.module.scss
  src/components/About/About.tsx
  src/components/LinkButton/LinkButton.module.scss
  src/pages/about/about.tsx
  src/pages/home/home.tsx
  src/router/router.tsx
  src/router/routes.ts
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

fix: fix bug with token after change password; add some styles
  src/commercetool/sdk.service.ts
  src/components/Account/Account.module.scss
  src/components/Account/Account.tsx
  src/components/AddressView/AddressView.module.scss
  src/components/ProfileAddresses/ProfileAddresses.module.scss
  src/components/ProfileAddresses/ProfileAddresses.tsx
  src/components/ProfilePassword/ProfilePassword.module.scss
  src/components/ProfilePassword/ProfilePassword.tsx
  src/pages/profile/profile.module.scss
  src/pages/profile/profile.tsx
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

refactor: eslint disable max-lines-per-function
  .eslintrc.cjs
  src/components/AddressForm/AddressForm.tsx
  src/pages/productItem/productItem.tsx
  src/pages/registration/registration.tsx
Due: npm run prettier:fix, npm run lint:fix

refactor: del handleColorClick and rename handleSizeClick to handleSizeOrColorClick
  src/components/ProductAttributes/ProductAttributesView.tsx
Due: npm run prettier:fix, npm run lint:fix

refactor: change dunction for sdk address update; add toasts
  src/commercetool/sdk.service.ts
  src/components/ProfileAddresses/ProfileAddresses.tsx
  src/utils/constants.ts
  src/utils/utils.ts
Due: npm run prettier:fix, npm run lint:fix

fix: logout button icon
  src/assets/sprite.svg
  src/components/UserMenu/UserMenu.module.scss
  src/components/UserMenu/UserMenu.tsx
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

refactor: rename ensureValue to assertValue, add convertImagesToReactImageGalleryItems function
  src/pages/productItem/productItem.tsx
  src/utils/utils.ts
Due: npm run prettier:fix, npm run lint:fix

refactor: slider is moved to a separate Slider component
  src/components/QuantityInput/QuantityInput.tsx
  src/components/Slider/Slider.module.scss
  src/components/Slider/Slider.tsx
  src/pages/productItem/productItem.module.scss
  src/pages/productItem/productItem.tsx
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix
