Repository Yuliya-Karuk/eCommerce-Application: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier:fix, npm run stylelint, npm run lint:fix

refactor: replace style rules
  src/components/Breadcrumbs/Breadcrumbs.module.scss
  src/components/Filters/Filters.module.scss
  src/components/Navigation/Navigation.module.scss
  src/components/ProductCard/ProductCard.module.scss
  src/pages/catalog/catalog.module.scss
  src/styles/_base.scss
  src/styles/_reset.scss
Due: npm run prettier:fix, npm run stylelint

feat: add buttons and some styles
  src/assets/heart.svg
  src/pages/productItem/productItem.module.scss
  src/pages/productItem/productItem.tsx
  src/styles/_constants.scss
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

feat: adjust the getDollarsFromCents utility and rename it to convertCentsToDollarsString
  src/pages/productItem/productItem.tsx
  src/utils/utils.ts
Due: npm run prettier:fix, npm run lint:fix

refactor: add react-image-gallery
  package-lock.json
  package.json
  src/pages/productItem/productItem.tsx
Due: npm run prettier:fix, npm run lint:fix

fix: add configuration for fix 404 page for nested paths
  config/prod.js
  public/_redirects
Due: none

feat: implement slider
  src/pages/productItem/productItem.module.scss
  src/pages/productItem/productItem.tsx
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

feat: implement slider full screen mode
  .vscode/settings.json
  package.json
  src/pages/productItem/productItem.module.scss
  src/pages/productItem/productItem.tsx
  src/utils/utils.ts
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

feat: add description for product card
  src/components/ProductCard/ProductCard.module.scss
  src/components/ProductCard/ProductCard.tsx
  src/pages/catalog/catalog.module.scss
  src/pages/catalog/catalog.tsx
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

fix: fix slider image fit
  src/components/ProductAttributes/ProductAttributes.module.scss
  src/components/ProductAttributes/ProductAttributes.tsx
  src/pages/productItem/productItem.module.scss
  src/pages/productItem/productItem.tsx
  src/styles/_constants.scss
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

feat: change logic for filters
  src/assets/checked.svg
  src/commercetool/sdk.service.ts
  src/components/BrandFilter/BrandFilter.module.scss
  src/components/BrandFilter/BrandFilter.tsx
  src/components/CategoryFilter/CategoryFilter.module.scss
  src/components/CategoryFilter/CategoryFilter.tsx
  src/components/Filters/Filters.tsx
  src/components/ProductCard/ProductCard.tsx
  src/models/index.ts
  src/pages/catalog/catalog.module.scss
  src/pages/catalog/catalog.tsx
  src/pages/home/home.tsx
  src/styles/_placeholders.scss
  src/utils/utils.ts
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

feat: add price filter
  package-lock.json
  package.json
  src/assets/minus.svg
  src/assets/plus.svg
  src/commercetool/sdk.service.ts
  src/components/BrandFilter/BrandFilter.tsx
  src/components/CategoryFilter/CategoryFilter.module.scss
  src/components/CategoryFilter/CategoryFilter.tsx
  src/components/ChekboxFilter/CheckboxFilter.module.scss
  src/components/ChekboxFilter/CheckboxFilter.tsx
  src/components/PriceFilter/PriceFilter.module.scss
  src/components/PriceFilter/PriceFilter.tsx
  src/pages/catalog/catalog.module.scss
  src/pages/catalog/catalog.tsx
  src/utils/utils.ts
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

feat: add color filter and button for clearing filters
  src/components/CategoryFilter/CategoryFilter.module.scss
  src/components/ChekboxFilter/CheckboxFilter.module.scss
  src/components/ColorFilter/ColorFilter.module.scss
  src/components/ColorFilter/ColorFilter.tsx
  src/components/ProductCard/ProductCard.tsx
  src/pages/catalog/catalog.module.scss
  src/pages/catalog/catalog.tsx
  src/utils/utils.ts
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

feat: New Arrivals styles
  postcss.config.js
  public/New Arrivals/Arrivals-1-1.png
  public/New Arrivals/Arrivals-1-2.png
  public/New Arrivals/Arrivals-2-1.png
  public/New Arrivals/Arrivals-2-2.png
  public/New Arrivals/Arrivals-3-1.png
  public/New Arrivals/Arrivals-3-2.png
  public/New Arrivals/Arrivals-4-1.png
  public/New Arrivals/Arrivals-4-2.png
  src/components/NewArrivals/NewArrivals.tsx
  src/components/NewArrivals/_NewArrivals.module.scss
  src/components/NewArrivalsCard/NewArrivalsCard.tsx
  src/components/NewArrivalsCard/_NewArrivalsCard.module.scss
  src/contexts/authProvider.tsx
  src/contexts/toastProvider.tsx
  src/pages/home/home.tsx
  src/pages/registration/registration.tsx
  src/styles/_base.scss
  src/styles/_constants.scss
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

Remote from the components index.ts. Added alias of folders.
  config/dev.js
  config/prod.js
  src/components/index.ts
  src/pages/home/home.tsx
Due: npm run prettier:fix, npm run lint:fix

Revert "Remote from the components index.ts. Added alias of folders."
  config/dev.js
  config/prod.js
  src/components/index.ts
  src/pages/home/home.tsx
Due: npm run prettier:fix, npm run lint:fix

refactor: Remote from the components index.ts.
  src/components/index.ts
  src/pages/home/home.tsx
Due: npm run prettier:fix, npm run lint:fix

fix: Editing styles of header elements
  src/components/Header/Header.module.scss
  src/components/UserMenu/UserMenu.module.scss
  src/components/UserMenu/UserMenu.tsx
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

fix: Small editing
  src/components/Navigation/Navigation.module.scss
  src/components/NewArrivals/NewArrivals.module.scss
  src/components/NewArrivals/NewArrivals.tsx
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

feat: product router
  src/components/NewArrivals/NewArrivals.tsx
  src/components/NewArrivalsCard/NewArrivalsCard.tsx
Due: npm run prettier:fix, npm run lint:fix

feat: Shop All router
  src/components/NewArrivals/NewArrivals.module.scss
  src/components/NewArrivals/NewArrivals.tsx
  src/components/NewArrivalsCard/_NewArrivalsCard.module.scss
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

feat: implement product variants
  src/components/ProductAttributes/ProductAttributes.module.scss
  src/components/ProductAttributes/ProductAttributes.tsx
  src/components/ProductAttributes/ProductAttributesView.module.scss
  src/components/ProductAttributes/ProductAttributesView.tsx
  src/components/QuantityInput/QuantityInput.module.scss
  src/components/QuantityInput/QuantityInput.tsx
  src/pages/productItem/productItem.module.scss
  src/pages/productItem/productItem.tsx
  src/styles/_constants.scss
  src/utils/utils.ts
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

feat: search and sorting componets layout
  src/assets/search.svg
  src/assets/select-arrow.svg
  src/components/Search/Search.module.scss
  src/components/Search/Search.tsx
  src/components/Sorting/Sorting.module.scss
  src/components/Sorting/Sorting.tsx
  src/pages/catalog/catalog.tsx
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

refactor: add changes for handle url and breadcrumbs
  src/commercetool/sdk.service.ts
  src/components/Breadcrumbs/Breadcrumbs.module.scss
  src/components/Breadcrumbs/Breadcrumbs.tsx
  src/components/CategoryFilter/CategoryFilter.module.scss
  src/components/CategoryFilter/CategoryFilter.tsx
  src/models/index.ts
  src/pages/catalog/catalog.tsx
  src/router/router.tsx
  src/utils/utils.ts
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

feat: get cards
  public/New Arrivals/Arrivals-1-1.png
  public/New Arrivals/Arrivals-1-2.png
  public/New Arrivals/Arrivals-2-1.png
  public/New Arrivals/Arrivals-2-2.png
  public/New Arrivals/Arrivals-3-1.png
  public/New Arrivals/Arrivals-3-2.png
  public/New Arrivals/Arrivals-4-1.png
  public/New Arrivals/Arrivals-4-2.png
  public/New Arrivals/template.png
  src/components/NewArrivals/NewArrivals.module.scss
  src/components/NewArrivals/NewArrivals.tsx
  src/components/NewArrivalsCard/NewArrivalsCard.tsx
  src/components/NewArrivalsCard/_NewArrivalsCard.module.scss
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

feat: add product info section and some style change
  src/components/ProductAttributes/ProductAttributesView.module.scss
  src/components/ProductAttributes/ProductAttributesView.tsx
  src/components/ProductInfoSection/ProductInfoSection.module.scss
  src/components/ProductInfoSection/ProductInfoSection.tsx
  src/pages/productItem/productItem.module.scss
  src/pages/productItem/productItem.tsx
  src/styles/_constants.scss
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

feat: add header
  package-lock.json
  src/pages/productItem/productItem.module.scss
  src/pages/productItem/productItem.tsx
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

feat: implement handleAddToCartClick
  src/pages/productItem/productItem.module.scss
  src/pages/productItem/productItem.tsx
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

feat: add a link to the breadcrumbs
  src/pages/productItem/productItem.module.scss
  src/pages/productItem/productItem.tsx
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

feat: add functionality to handle location
  src/components/CategoryFilter/CategoryFilter.tsx
  src/pages/catalog/catalog.tsx
  src/utils/utils.ts
Due: npm run prettier:fix, npm run lint:fix

feat: add handling slugs for right path to product
  src/components/ProductCard/ProductCard.tsx
  src/models/index.ts
  src/pages/catalog/catalog.tsx
  src/router/router.tsx
  src/router/routes.ts
  src/utils/utils.ts
Due: npm run prettier:fix, npm run lint:fix

save: save work
  package.json
  src/components/Breadcrumbs/Breadcrumbs.module.scss
  src/components/CategoryFilter/CategoryFilter.module.scss
  src/pages/productItem/productItem.tsx
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

feat: Added the function of enveloping of currencies
  src/components/NewArrivals/NewArrivals.tsx
  src/components/NewArrivalsCard/NewArrivalsCard.tsx
  src/utils/utils.ts
Due: npm run prettier:fix, npm run lint:fix

feat: add functionality to change filters const
  src/commercetool/sdk.service.ts
  src/components/ChekboxFilter/CheckboxFilter.module.scss
  src/components/ChekboxFilter/CheckboxFilter.tsx
  src/components/ColorFilter/ColorFilter.module.scss
  src/components/ColorFilter/ColorFilter.tsx
  src/components/PriceFilter/PriceFilter.tsx
  src/models/index.ts
  src/pages/catalog/catalog.tsx
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

feat: add functionality to save filters by url after reloading
  src/commercetool/sdk.service.ts
  src/components/ChekboxFilter/CheckboxFilter.tsx
  src/components/ColorFilter/ColorFilter.tsx
  src/components/PriceFilter/PriceFilter.tsx
  src/pages/catalog/catalog.tsx
  src/utils/utils.ts
Due: npm run prettier:fix, npm run lint:fix

feat: Implement Discover styles
  public/Discover/discover-1.jpg
  public/Discover/discover-2.jpg
  public/Discover/discover-3.jpg
  src/components/Discover/Discover.module.scss
  src/components/Discover/Discover.tsx
  src/pages/home/home.tsx
  src/styles/_constants.scss
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

refactor: refactor convertCentsToDollarsString
  .vscode/settings.json
  src/pages/catalog/catalog.tsx
  src/utils/utils.ts
Due: npm run prettier:fix, npm run lint:fix

feat: add Breadcrumbs component
  src/components/Header/Header.module.scss
  src/pages/productItem/productItem.module.scss
  src/pages/productItem/productItem.tsx
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

feat: update Breadcrumbs
  src/components/Breadcrumbs/Breadcrumbs.module.scss
  src/components/Breadcrumbs/Breadcrumbs.tsx
  src/components/CategoryFilter/CategoryFilter.module.scss
  src/components/Sorting/Sorting.module.scss
  src/pages/catalog/catalog.module.scss
  src/pages/catalog/catalog.tsx
  src/pages/notFound/notFound.module.scss
  src/utils/utils.ts
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

feat: replace the text attribute color with colored buttons
  src/components/ProductAttributes/ProductAttributesView.module.scss
  src/components/ProductAttributes/ProductAttributesView.tsx
  src/pages/productItem/productItem.tsx
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

refactor: some refactor after merge
  src/pages/productItem/productItem.tsx
Due: npm run prettier:fix, npm run lint:fix

Path conditions:
  npm run prettier:fix: any of: ./src/**/*
  npm run stylelint: any of: ./src/**/*.{css,scss}
  npm run lint:fix: any of: ./src/**/*.{tsx,jsx,ts}
