Repository Yuliya-Karuk/eCommerce-Application: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier:fix, npm run stylelint, npm run lint:fix

fix: fix attributes with one variant
  src/components/ProductAttributes/ProductAttributesView.tsx
Due: npm run prettier:fix, npm run lint:fix

feat: add possibility to choice variant in catalog
  src/components/ProductCard/ProductCard.tsx
  src/pages/productItem/productItem.tsx
  src/utils/constants.ts
Due: npm run prettier:fix, npm run lint:fix

feat: add promise Toast in catalog
  src/components/ProductCard/ProductCard.tsx
  src/pages/productItem/productItem.tsx
  src/utils/constants.ts
Due: npm run prettier:fix, npm run lint:fix

feat: implement pagination component
  src/assets/last.svg
  src/assets/next.svg
  src/commercetool/sdk.service.ts
  src/components/Pagination/Pagination.module.scss
  src/components/Pagination/Pagination.tsx
  src/pages/catalog/catalog.tsx
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

feat: Implement About page
  src/assets/About/Binarion.jpg
  src/assets/About/Dima.jpg
  src/assets/About/Julia.jpg
  src/assets/About/Vital.jpg
  src/components/Developer/Developer.module.scss
  src/components/Developer/Developer.tsx
  src/components/Logo/Logo.module.scss
  src/pages/about/about.module.scss
  src/pages/about/about.tsx
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

refactor: delete comments
  src/components/Logo/Logo.module.scss
Due: npm run prettier:fix, npm run stylelint

fix: footer adaptive
  src/components/Footer/Footer.module.scss
Due: npm run prettier:fix, npm run stylelint

feat: add finctionality for working pagination
  src/pages/catalog/catalog.tsx
Due: npm run prettier:fix, npm run lint:fix

fix: Side retroenses in a header
  src/components/AboutBanner/AboutBanner.module.scss
  src/components/Banner/Banner.module.scss
  src/pages/about/about.module.scss
  src/pages/home/home.module.scss
Due: npm run prettier:fix, npm run stylelint

fix: fix pagination after change category or filter
  src/components/Pagination/Pagination.module.scss
  src/components/Pagination/Pagination.tsx
  src/components/ProductCard/ProductCard.module.scss
  src/pages/catalog/catalog.tsx
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

feat: add category hook
  src/components/ProductCard/ProductCard.tsx
  src/contexts/categoryProvider.tsx
  src/main.tsx
  src/pages/catalog/catalog.tsx
  src/pages/productItem/productItem.tsx
Due: npm run prettier:fix, npm run lint:fix

fix: change router because of error
  src/components/EmptyCartMessage/EmptyCartMessage.module.scss
  src/contexts/categoryProvider.tsx
  src/main.tsx
  src/pages/cart/cart.module.scss
  src/pages/catalog/catalog.tsx
  src/pages/home/home.tsx
  src/router/router.tsx
  src/utils/storage.ts
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

fix: run stylelint:fix
  src/components/Header/Header.module.scss
  src/components/ProductAttributes/ProductAttributesView.module.scss
  src/components/Search/Search.module.scss
  src/components/UserMenu/UserMenu.module.scss
  src/pages/home/home.module.scss
Due: npm run prettier:fix, npm run stylelint

fix: fix cards styles in catalog
  src/pages/catalog/catalog.module.scss
Due: npm run prettier:fix, npm run stylelint

feat: change the position of the quantity in the Order summary
  src/pages/cart/cart.tsx
Due: npm run prettier:fix, npm run lint:fix

fix: fix ... button
  src/components/AddressView/AddressView.tsx
  src/components/Pagination/Pagination.tsx
  src/pages/catalog/catalog.tsx
  src/pages/home/home.tsx
  src/pages/profile/profile.tsx
Due: npm run prettier:fix, npm run lint:fix

fix: remove the double line between the last product in the cart and the notes
  src/components/CartProductCard/CartProductCard.module.scss
Due: npm run prettier:fix, npm run stylelint

fix: Adapting the footer, menu width, code refractoring.
  src/components/Footer/Footer.module.scss
  src/components/Header/Header.module.scss
  src/components/Navigation/Navigation.module.scss
  src/pages/about/about.tsx
  src/styles/_mixins.scss
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

fix: The access attribute has been added
  src/components/Navigation/Navigation.tsx
Due: npm run prettier:fix, npm run lint:fix

feat: Closing the menu by click outside
  src/components/Navigation/Navigation.tsx
  src/hooks/useClickOutside.tsx
Due: npm run prettier:fix, npm run lint:fix

refactor: Refactoring useClickOutside
  src/hooks/useClickOutside.tsx
Due: npm run prettier:fix, npm run lint:fix

feat: Dynamic adding link to the home page in the menu
  src/components/Navigation/Navigation.tsx
Due: npm run prettier:fix, npm run lint:fix

feat: Added the path to the hooks folder
  src/components/Navigation/Navigation.tsx
  tsconfig.json
Due: npm run prettier:fix, npm run lint:fix

feat: The RS School logo has been added
  src/assets/sprite.svg
  src/components/AboutBanner/AboutBanner.module.scss
  src/components/AboutBanner/AboutBanner.tsx
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

refactor: refactor CartProductCard, Cart
  src/components/CartProductCard/CartProductCard.tsx
  src/pages/cart/cart.tsx
Due: npm run prettier:fix, npm run lint:fix

feat: implement loader on Cart Page
  src/pages/cart/cart.tsx
Due: npm run prettier:fix, npm run lint:fix

refactor: authProvider.tsx, PriceView.tsx
  src/components/PriceView/PriceView.tsx
  src/contexts/authProvider.tsx
Due: npm run prettier:fix, npm run lint:fix

fix: fix cart height
  src/pages/cart/cart.module.scss
  src/styles/_constants.scss
Due: npm run prettier:fix, npm run stylelint

fix: fix Cart Page height
  src/pages/cart/cart.module.scss
  src/pages/cart/cart.tsx
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

fix: change styles for toast
  src/components/AddressView/AddressView.tsx
  src/components/ProductAttributes/ProductAttributesView.tsx
  src/contexts/cartProvider.tsx
  src/contexts/toastProvider.tsx
  src/pages/catalog/catalog.module.scss
  src/pages/profile/profile.tsx
  src/styles/_base.scss
  src/styles/_constants.scss
  src/styles/_mixins.scss
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

fix: Small edits in header
  src/components/Footer/Footer.module.scss
Due: npm run prettier:fix, npm run stylelint

fix: add removed constants
  src/styles/_constants.scss
Due: npm run prettier:fix, npm run stylelint

fix: fix bug with anonymous cart
  src/commercetool/sdk.service.ts
  src/contexts/cartProvider.tsx
  src/contexts/categoryProvider.tsx
Due: npm run prettier:fix, npm run lint:fix

feat: School logo and team description have been added
  src/assets/About/rsschool-logo.svg
  src/components/AboutBanner/AboutBanner.module.scss
  src/components/AboutBanner/AboutBanner.tsx
  src/components/AboutDescription/AboutDescription.module.scss
  src/components/AboutDescription/AboutDescription.tsx
  src/components/Developer/Developer.module.scss
  src/pages/about/about.tsx
  src/styles/_mixins.scss
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

feat: Added focus styles
  src/components/Developer/Developer.module.scss
  src/components/Discover/Discover.module.scss
  src/components/Footer/Footer.module.scss
  src/components/Gramm/Gramm.module.scss
  src/components/LinkButton/LinkButton.module.scss
  src/components/Logo/Logo.module.scss
  src/components/Logo/Logo.tsx
  src/components/Navigation/Navigation.module.scss
  src/components/NewArrivals/NewArrivals.module.scss
  src/components/NewArrivalsCard/NewArrivalsCard.module.scss
  src/components/UserMenu/UserMenu.module.scss
  src/styles/_mixins.scss
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

refactor: Optimized the schedule of the Discover section
  src/assets/Discover/discover-1.jpg
  src/assets/Discover/discover-2.jpg
  src/assets/Discover/discover-3.jpg
Due: npm run prettier:fix

fix: border radius in adaptive
  src/components/Navigation/Navigation.module.scss
Due: npm run prettier:fix, npm run stylelint

fix: prevent textarea resizing in cart notes section
  src/pages/cart/cart.module.scss
Due: npm run prettier:fix, npm run stylelint

fix: swap colors of discount and total amounts on Cert Page
  src/pages/cart/cart.module.scss
  src/pages/cart/cart.tsx
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

feat: add cursor: not-allowed on all disabled inputs and selects
  src/styles/_base.scss
Due: npm run prettier:fix, npm run stylelint

Path conditions:
  npm run prettier:fix: any of: ./src/**/*
  npm run stylelint: any of: ./src/**/*.{css,scss}
  npm run lint:fix: any of: ./src/**/*.{tsx,jsx,ts}
