Repository Yuliya-Karuk/eCommerce-Application: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier:fix, npm run stylelint, npm run lint:fix

feat: add fucntions for remove and update card
  src/commercetool/sdk.service.ts
  src/pages/cart/cart.tsx
  src/pages/productItem/productItem.tsx
Due: npm run prettier:fix, npm run lint:fix

feat: add CartProductCard
  src/components/CartProductCard/CartProductCard.module.scss
  src/components/CartProductCard/CartProductCard.tsx
  src/pages/cart/cart.module.scss
  src/pages/cart/cart.tsx
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

feat: implement delete product from cart
  src/components/CartProductCard/CartProductCard.tsx
Due: npm run prettier:fix, npm run lint:fix

feat: implement change product qty
  src/components/CartProductCard/CartProductCard.tsx
Due: npm run prettier:fix, npm run lint:fix

merge with errors
  src/components/CartProductCard/CartProductCard.module.scss
  src/components/CartProductCard/CartProductCard.tsx
  src/components/ProductAttributes/ProductAttributesView.tsx
  src/utils/constants.ts
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

feat: add attributes to CartProductCard
  src/components/CartProductCard/CartProductCard.module.scss
Due: npm run prettier:fix, npm run stylelint

fix: fix update qty error
  src/components/CartProductCard/CartProductCard.tsx
Due: npm run prettier:fix, npm run lint:fix

fix: fix the quantity input position and other style fixes
  src/components/CartProductCard/CartProductCard.module.scss
  src/components/CartProductCard/CartProductCard.tsx
  src/components/PriceView/PriceView.tsx
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

fix: fix checkout-button position and price position
  src/components/CartProductCard/CartProductCard.module.scss
  src/pages/cart/cart.module.scss
Due: npm run prettier:fix, npm run stylelint

feat: change order summary price and name styles
  src/pages/cart/cart.module.scss
  src/pages/cart/cart.tsx
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

feat: add toast on product page
  src/pages/productItem/productItem.tsx
Due: npm run prettier:fix, npm run lint:fix

feat: add remove from cart button
  src/pages/productItem/productItem.tsx
Due: npm run prettier:fix, npm run lint:fix

feat: implement remove from cart button on product page
  src/pages/productItem/productItem.tsx
Due: npm run prettier:fix, npm run lint:fix

feat: implement merge for anonymous and loggined carts
  src/commercetool/middlewareOptions.ts
  src/commercetool/sdk.service.ts
  src/contexts/authProvider.tsx
  src/contexts/cartProvider.tsx
  src/models/index.ts
  src/pages/cart/cart.tsx
  src/utils/storage.ts
Due: npm run prettier:fix, npm run lint:fix

feat: implement PromoCodeView
  .vscode/settings.json
  src/components/PromoCodeView/PromoCodeView.tsx
  src/components/PromoCodeView/promoCodeView.module.scss
  src/pages/cart/cart.module.scss
  src/pages/cart/cart.tsx
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

fix: fix emptyLineBefore rule conflict
  .stylelintrc.json
Due: none

fix: fix React Hook useEffect has a missing dependency
  src/pages/productItem/productItem.tsx
Due: npm run prettier:fix, npm run lint:fix

fix: fix emptyLineBefore rules conflict and add stylelint.validate.codeActionsOnSave.source.fixAll.stylelint
  .stylelintrc.json
  .vscode/settings.json
Due: none

fix: change "source.fixAll.stylelint": true to "source.fixAll.stylelint": "explicit"
  .vscode/settings.json
Due: none

feat: add notes field and some styles change on cart
  src/components/PromoCodeView/promoCodeView.module.scss
  src/pages/cart/cart.module.scss
  src/pages/cart/cart.tsx
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

feat: add promocode functionality
  src/components/PromoCodeView/PromoCodeView.tsx
Due: npm run prettier:fix, npm run lint:fix

feat: add modal for clear cart
  package-lock.json
  package.json
  src/pages/cart/cart.module.scss
  src/pages/cart/cart.tsx
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

feat: change modal styles
  .vscode/settings.json
  src/pages/cart/cart.module.scss
  src/pages/cart/cart.tsx
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

fix: Fixed scrolling scrolling in Body
  src/components/Navigation/Navigation.tsx
Due: npm run prettier:fix, npm run lint:fix

feat: add functionality to remove all from cart
  src/commercetool/sdk.service.ts
  src/components/CartProductCard/CartProductCard.tsx
  src/components/PromoCodeView/PromoCodeView.tsx
  src/components/PromoCodeView/promoCodeView.module.scss
  src/contexts/cartProvider.tsx
  src/pages/cart/cart.module.scss
  src/pages/cart/cart.tsx
  src/pages/productItem/productItem.tsx
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

feat: fix promocode
  src/components/PromoCodeView/PromoCodeView.tsx
  src/pages/cart/cart.tsx
Due: npm run prettier:fix, npm run lint:fix

feat: add styles for Clear all button
  src/pages/cart/cart.module.scss
  src/pages/cart/cart.tsx
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

feat: Header, Footer, About Banner; fix: Logo position;
  src/assets/About/about-page-header-bg.jpg
  src/components/AboutBanner/AboutBanner.module.scss
  src/components/AboutBanner/AboutBanner.tsx
  src/components/Logo/Logo.module.scss
  src/components/Navigation/Navigation.tsx
  src/pages/about/about.module.scss
  src/pages/about/about.tsx
  src/styles/_mixins.scss
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

feat: add possibility enter second promocode; add discount and price fields
  src/components/PromoCodeView/PromoCodeView.tsx
  src/components/PromoCodeView/promoCodeView.module.scss
  src/pages/cart/cart.module.scss
  src/pages/cart/cart.tsx
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

feat: add product count in cart icon
  src/components/UserMenu/UserMenu.module.scss
  src/components/UserMenu/UserMenu.tsx
  src/utils/utils.ts
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

feat: add removing promocode; add banner on main page
  src/components/PromoCodeView/PromoCodeView.tsx
  src/components/PromoCodeView/promoCodeView.module.scss
  src/components/UserMenu/UserMenu.module.scss
  src/components/UserMenu/UserMenu.tsx
  src/contexts/cartProvider.tsx
  src/pages/home/home.module.scss
  src/pages/home/home.tsx
  src/utils/constants.ts
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

fix: remove not needed paddings
  src/components/Header/Header.module.scss
Due: npm run prettier:fix, npm run stylelint

feat: implement the logic of adding/removing a product to/from the cart on the ProductCard component
  src/components/ProductCard/ProductCard.tsx
Due: npm run prettier:fix, npm run lint:fix

Fix/minor style fix (#46)
  .stylelintrc.json
  .vscode/settings.json
  src/components/Account/Account.module.scss
  src/components/AuthFormHeader/AuthFormHeader.module.scss
  src/components/Banner/Banner.module.scss
  src/components/Breadcrumbs/Breadcrumbs.module.scss
  src/components/CategoryFilter/CategoryFilter.module.scss
  src/components/CheckboxFilter/CheckboxFilter.module.scss
  src/components/ColorFilter/ColorFilter.module.scss
  src/components/Filters/Filters.module.scss
  src/components/Footer/Footer.module.scss
  src/components/Gramm/Gramm.tsx
  src/components/Header/Header.module.scss
  src/components/Navigation/Navigation.module.scss
  src/components/Navigation/Navigation.tsx
  src/components/NewArrivalsCard/NewArrivalsCard.module.scss
  src/components/PriceFilter/PriceFilter.module.scss
  src/components/ProductCard/ProductCard.module.scss
  src/components/ProfileAddresses/ProfileAddresses.module.scss
  src/components/ProfilePassword/ProfilePassword.module.scss
  src/components/Search/Search.module.scss
  src/components/Slider/Slider.tsx
  src/components/UserMenu/UserMenu.module.scss
  src/components/UserMenu/UserMenu.tsx
  src/pages/catalog/catalog.module.scss
  src/pages/productItem/productItem.module.scss
  src/pages/profile/profile.module.scss
  src/router/router.tsx
  src/test/renderPages.test.tsx
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

fix: remove ";" on Product Page
  src/pages/productItem/productItem.tsx
Due: npm run prettier:fix, npm run lint:fix

feat: add toast message for remove from cart action
  src/pages/productItem/productItem.tsx
Due: npm run prettier:fix, npm run lint:fix

fix: add some media queries for adaptivity
  src/components/PromoCodeView/promoCodeView.module.scss
  src/pages/cart/cart.module.scss
Due: npm run prettier:fix, npm run stylelint

fix: fix CartProductCard name width
  src/components/CartProductCard/CartProductCard.module.scss
Due: npm run prettier:fix, npm run stylelint

fix: fix logo link in footer
  src/components/Footer/Footer.module.scss
Due: npm run prettier:fix, npm run stylelint

feat: add ProductAttributesView in Product Card
  src/components/ProductAttributes/ProductAttributesView.module.scss
  src/components/ProductAttributes/ProductAttributesView.tsx
  src/components/ProductCard/ProductCard.tsx
  src/pages/productItem/productItem.tsx
Due: npm run prettier:fix, npm run stylelint, npm run lint:fix

Path conditions:
  npm run prettier:fix: any of: ./src/**/*
  npm run stylelint: any of: ./src/**/*.{css,scss}
  npm run lint:fix: any of: ./src/**/*.{tsx,jsx,ts}
